config RUNYEE_SDOUBLE_IMGSENSOR_GC0310
	tristate "enable RUNYEE_SDOUBLE_IMGSENSOR_GC0310 driver"
	default n
	help
	  It support different sensor.
          If this option is set to m,
          it will build module.
          