mkdir /data/misc/sensors 0664 system system

service msensord /vendor/bin/msensord
    user system
    group system
    oneshot

service akmd8963 /vendor/bin/akmd8963
    disabled
    user system
    group system


on post-fs

#   insmod /vendor/lib/modules/mtk_hif_sdio.ko
#   insmod /vendor/lib/modules/mtk_stp_wmt.ko
#   insmod /vendor/lib/modules/mtk_stp_uart.ko
#   insmod /vendor/lib/modules/mtk_stp_gps.ko
#   insmod /vendor/lib/modules/mtk_stp_bt.ko
#   insmod /vendor/lib/modules/mtk_fm_drv.ko
#   insmod /vendor/lib/modules/mtk_fm_priv.ko
#   insmod /vendor/lib/modules/mtk_wmt_wifi.ko

    insmod /vendor/lib/modules/mtk_wmt_detect.ko
    
 		
 
    
    #insmod /vendor/lib/modules/wlan.ko


on boot





