# ==============================================
# Policy File of /system/binpq Executable File


# ==============================================
# Type Declaration
# ==============================================

type mntl ,domain;
type mntl_exec , exec_type, file_type;
typeattribute mntl coredomain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================
#============= mntl ==============
allow mntl block_device:dir { write create add_name search setattr };
allow mntl block_device:lnk_file { create relabelfrom relabelto };
allow mntl block_device:blk_file { setattr relabelfrom relabelto };

allow mntl mtd_device:blk_file { setattr getattr relabelfrom };
allow mntl mtd_device:chr_file { setattr relabelfrom };
allow mntl mtd_device:dir search;

allow mntl system_block_device:blk_file relabelto;
allow mntl system_block_device:lnk_file relabelto;
allow mntl cache_block_device:blk_file relabelto;
allow mntl cache_block_device:lnk_file relabelto;
allow mntl metadata_block_device:blk_file relabelto;
allow mntl metadata_block_device:lnk_file relabelto;
allow mntl nvcfg_block_device:blk_file relabelto;
allow mntl nvcfg_block_device:lnk_file relabelto;
allow mntl nvdata_device:blk_file relabelto;
allow mntl nvdata_device:lnk_file relabelto;
allow mntl userdata_block_device:blk_file { relabelto setattr };
allow mntl userdata_block_device:lnk_file { relabelfrom relabelto};
allow mntl protect_f_device:chr_file relabelto;
allow mntl protect_f_device:lnk_file relabelto;


allow mntl file_contexts_file:file { read getattr open };
allow mntl kmsg_device:chr_file { write open };

allow mntl mntl_block_device:blk_file { read open };
allow mntl sysfs:file { read getattr open };

allow mntl device:dir { write add_name };
allow mntl device:chr_file relabelto;
allow mntl device:lnk_file { create relabelfrom relabelto };

allow mntl proc:file { read open };
allow mntl rootfs:dir { write add_name };
allow mntl rootfs:lnk_file create;
allow mntl rootfs:lnk_file relabelfrom;

allow mntl self:capability { chown fsetid };

allow mntl preloader_device:lnk_file relabelto;
allow mntl preloader_device:chr_file { setattr relabelto };
allow mntl pro_info_device:lnk_file relabelto;
allow mntl pro_info_device:chr_file relabelto;

allow mntl nvram_device:lnk_file relabelto;
allow mntl nvram_device:chr_file relabelto;
allow mntl nvram_device:blk_file relabelto;
allow mntl uboot_device:chr_file relabelto;
allow mntl uboot_device:lnk_file relabelto;
allow mntl boot_block_device:blk_file relabelto;
allow mntl boot_block_device:lnk_file relabelto;
allow mntl para_block_device:blk_file relabelto;
allow mntl para_block_device:lnk_file relabelto;
allow mntl recovery_block_device:blk_file relabelto;
allow mntl recovery_block_device:lnk_file relabelto;
allow mntl recovery_device:chr_file relabelto;
allow mntl recovery_device:lnk_file relabelto;

allow mntl dtbo_block_device:blk_file relabelto;
allow mntl dtbo_block_device:lnk_file relabelto;
allow mntl logo_block_device:blk_file relabelto;
allow mntl logo_block_device:lnk_file relabelto;
allow mntl logo_device:chr_file relabelto;
allow mntl logo_device:lnk_file relabelto;
allow mntl misc_device:chr_file relabelto;
allow mntl misc_device:lnk_file relabelto;

allow mntl dsp_block_device:blk_file relabelto;
allow mntl dsp_block_device:lnk_file relabelto;
allow mntl mcupmfw_block_device:blk_file relabelto;
allow mntl mcupmfw_block_device:lnk_file relabelto;
allow mntl md_block_device:blk_file relabelto;
allow mntl md_block_device:lnk_file relabelto;
allow mntl spmfw_block_device:blk_file relabelto;
allow mntl spmfw_block_device:lnk_file relabelto;
allow mntl tee_block_device:blk_file relabelto;
allow mntl tee_block_device:lnk_file relabelto;
allow mntl tee_part_device:chr_file relabelto;
allow mntl tee_part_device:lnk_file relabelto;
allow mntl bmtpool_device:chr_file relabelto;
allow mntl bmtpool_device:lnk_file relabelto;
allow mntl expdb_block_device:blk_file relabelto;
allow mntl expdb_block_device:lnk_file relabelto;
allow mntl expdb_device:chr_file relabelto;
allow mntl expdb_device:lnk_file relabelto;

allow mntl boot_block_device:blk_file relabelfrom;
allow mntl device:blk_file relabelto;
allow mntl nvram_device:blk_file relabelfrom;
allow mntl preloader_device:blk_file relabelto;
allow mntl pro_info_device:blk_file relabelto;
allow mntl protect_f_device:blk_file relabelto;
allow mntl uboot_device:blk_file relabelto;


#permissive mntl;
init_daemon_domain(mntl)
# unconfined_domain(mntl)
