#============= recovery ==============
allow recovery block_device:lnk_file { relabelfrom relabelto create };
allow recovery bmtpool_device:chr_file relabelto;
allow recovery bmtpool_device:lnk_file relabelto;
allow recovery boot_block_device:blk_file relabelto;
allow recovery boot_block_device:lnk_file relabelto;
allow recovery cache_block_device:blk_file relabelto;
allow recovery cache_block_device:lnk_file relabelto;
allow recovery device:chr_file relabelto;
allow recovery device:dir { write add_name };
allow recovery device:lnk_file { relabelfrom relabelto create };
allow recovery dri_device:chr_file { read write open };
allow recovery dsp_block_device:blk_file relabelto;
allow recovery dsp_block_device:lnk_file relabelto;
allow recovery dtbo_block_device:blk_file relabelto;
allow recovery dtbo_block_device:lnk_file relabelto;
allow recovery kmsg_device:chr_file { write open };
allow recovery mcupmfw_block_device:blk_file relabelto;
allow recovery mcupmfw_block_device:lnk_file relabelto;
allow recovery md_block_device:blk_file relabelto;
allow recovery md_block_device:lnk_file relabelto;
allow recovery meta_connecttype_prop:file { getattr open };
allow recovery metadata_block_device:blk_file relabelto;
allow recovery metadata_block_device:lnk_file relabelto;
allow recovery misc_device:lnk_file relabelto;
allow recovery mtd_device:blk_file { relabelfrom setattr };
allow recovery mtd_device:chr_file { relabelfrom setattr };
allow recovery mtk_thermal_config_prop:file { getattr open };
allow recovery nvcfg_block_device:blk_file relabelto;
allow recovery nvcfg_block_device:lnk_file relabelto;
allow recovery nvdata_device:blk_file relabelto;
allow recovery nvdata_device:lnk_file relabelto;
allow recovery nvram_device:blk_file relabelto;
allow recovery nvram_device:chr_file relabelto;
allow recovery nvram_device:lnk_file relabelto;
allow recovery para_block_device:blk_file relabelto;
allow recovery para_block_device:lnk_file relabelto;
allow recovery preloader_device:lnk_file relabelto;
allow recovery pro_info_device:chr_file relabelto;
allow recovery pro_info_device:lnk_file relabelto;
allow recovery protect_f_device:chr_file relabelto;
allow recovery protect_f_device:lnk_file relabelto;
allow recovery recovery_block_device:blk_file relabelto;
allow recovery recovery_block_device:lnk_file relabelto;
allow recovery recovery_device:lnk_file relabelto;
allow recovery spmfw_block_device:blk_file relabelto;
allow recovery spmfw_block_device:lnk_file relabelto;
allow recovery system_block_device:lnk_file relabelto;
allow recovery tee_block_device:blk_file relabelto;
allow recovery tee_block_device:lnk_file relabelto;
allow recovery tee_part_device:lnk_file relabelto;
allow recovery uboot_device:lnk_file relabelto;
allow recovery userdata_block_device:lnk_file { relabelfrom relabelto };
