# for mntl
#allow resize rootfs:file entrypoint;
#allow resize mntl_block_device:blk_file rw_file_perms;
#allow resize block_device:dir { create_dir_perms remove_name };
#allow resize system_block_device:blk_file { read unlink };
#allow resize userdata_block_device:blk_file { rw_file_perms unlink };
#allow resize cache_block_device:blk_file { rw_file_perms unlink };
