# ==============================================
# MTK Policy Rule
# ============

# Date : WK15.45
# Operation : Migration
# Purpose : for debug
allow system_server gps_data_file:dir search;