# ==============================================
# MTK Policy Rule 
# ==============================================

# Date : 2014/11/19
# Operation : Migration
# Purpose : FileManager can access attribute of file execute
# Package: com.mediatek.filemanager
allow platform_app sdcard_type:file execute;

# Date : 2016/09/12
# Operation : Demo
# Purpose : camera app want to inovke SystemProperties.set("xxx", "xxx") need this permission
# Package: com.mediatek.camera
allow platform_app property_socket:sock_file write;

# Date : 2015/03/24
# Operation : New feature for AppManager Install
# Purpose : AppManager Install need pm access permission
# Package: com.mediatek.wearable
allow platform_app system_app_data_file:dir search;

# Date : 2015/10/12
# Operation : CMCC_AutoTest
# Purpose : allow platform_app to access debugfs
# Package: memtrack
allow platform_app debugfs:file getattr;

# Date: 2014/08/22
# Operation: Migration
# Purpose: enable drawing picture/texture in OpenGl environment for gallery3d
# Package: com.android.gallery3d
#allow platform_app init:binder transfer;

# Date : 2014/10/27
# Operation : SQC
# Purpose : [ALPS01785313] Permission denied for dump hprof
# Package: com.android.gallery3d
allow platform_app anr_data_file:file rw_file_perms;

# Date : 2014/11/21
# Operation : Migration
# Purpose : Gallery needs to search radio data when send mms
# Package: com.android.gallery3d
allow platform_app radio_data_file:dir search;

# Date : 2015/09/21
# Operation : CMCC_AutoTest
# Purpose : gallery needs to search mediaserver when browsing videos
# Package: com.android.gallery3d
allow platform_app mediaserver:dir search;

allow platform_app vendor_app_file:file execute;

# Date : 2015/10/30
# Operation : Migration
# Purpose : allow platform_app to find aal_service
allow platform_app aal_service:service_manager { find };
