# ==============================================
# MTK Policy Rule
# ==============================================

#=============allow terserver to set terservice property==============
type terservice_prop, property_type;
