# ==============================================
# MTK Policy Rule
# ==============================================

# System Server Services
type mtk_hdmi_service, app_api_service, system_server_service, service_manager_type;
type mtk_duraspeed_service, app_api_service, system_server_service, service_manager_type;
type mtk_test_ampolicymaker_service, app_api_service, system_server_service, service_manager_type;
type lwx_service, app_api_service, system_server_service, service_manager_type;

# Other Services
type terservice_service, service_manager_type;
