# ==============================================
# Policy File of /system/bin/atcid Executable File
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================
allow atcid ttyGS_device:chr_file { read write ioctl open };
allow atcid audiocmdservice_atci:unix_stream_socket connectto;
allow atcid persist_service_atci_prop:property_service set;
allow atcid misc2_device:chr_file { read write open };
allow atcid wmtWifi_device:chr_file { write open };
allow atcid misc2_block_device:blk_file { read write open };
allow atcid bootdevice_block_device:blk_file { open read write };
allow atci_service gpu_device:chr_file { read write open ioctl getattr };
#allow atci_service CAM_CAL_DRV1_device:chr_file { read write open };
allow atcid self:capability sys_time;

# Date : WK16.33
# Purpose: Allow to access ged for gralloc_extra functions
allow atcid proc_ged:file {open read write ioctl getattr};

# Date : WK17.23
# Stage: O Migration, SQC
# Purpose: Allow to use HAL PQ
hal_client_domain(atcid, hal_pq)

# Date : WK17.34
# Purpose: Allow to access meta_tst
allow atcid meta_tst:unix_stream_socket connectto;
allow atcid nvram_device:blk_file { open read write };
