# ==============================================
# MICROTRUST Policy Rule
# ==============================================

# Date : 2016/06/01
# Operation: TEEI integration
# Purpose: Microtrust HW-backed Keymaster
#allow hal_keymaster_attestation to operate ut_keymaster_device teei_client_device

allow hal_keymaster_attestation ut_keymaster_device:chr_file { read write ioctl open };
allow hal_keymaster_attestation teei_client_device:chr_file { read write open ioctl};
