# ==============================================
# MTK Policy Rule for vendor
# ==============================================

# Date : WK15.03
# Operation : Migration
# Purpose : offloadservice
allow audioserver offloadservice_device:chr_file { read write ioctl open };

# Date : WK15.44
# Operation : Migration
# Purpose : ancservice
allow audioserver ancservice_device:chr_file { read write ioctl open };

# Date : WK16.40
# Operation : Migration
# Purpose : perf service for cpu control and rt thread
allow audioserver mtk_perf_service:service_manager find;

# Date : WK17.31
# Operation : ViLTE
# Purpose : for ViLTE - set VTservice has permission to access me
allow audioserver vtservice:binder { transfer call };
allow audioserver vtservice:fd use;
