# Device access
allow bluetooth stpbt_device:chr_file rw_file_perms;

# NVRAM access
#============= bluetooth ==============
allow bluetooth nvram_data_file:dir search;
allow bluetooth nvram_data_file:file rw_file_perms;
allow bluetooth nvram_data_file:lnk_file read;
allow bluetooth nvdata_file:lnk_file read;
allow bluetooth nvdata_file:dir search;
allow bluetooth nvdata_file:file { read write getattr open };

allow bluetooth block_device:dir search;
allow bluetooth proc_secmem:file { read open };


# Date : WK15.36
# Operation : Migration
# Purpose: Allow bluetooth to access surfaceflinger
allow bluetooth surfaceflinger:fifo_file { read write };

