# ==============================================
# MTK Policy Rule
# ============


# Date : WK14.31
# Operation : Migration 
# Purpose : access to sec mem proc interface. 
allow bootanim proc_secmem:file { read open};

# Date : WK14.36
# Operation : Migration 
# Purpose : for ui
allow bootanim guiext-server:binder call;
allow bootanim guiext-server:binder transfer;

# Date : WK16.29
# Operation : Migration
# Purpose : for gpu access
allow bootanim dri_device:chr_file { read write open ioctl };

#============= bootanim ==============
allow bootanim debugfs_ion:dir search;
