#=============allow ccci_mdinit to start/stop fsd==============
allow ccci_mdinit { ctl_ccci_rpcd_prop ctl_ccci2_rpcd_prop }:property_service set;
typeattribute ccci_mdinit mtkimsapdomain;
