# ==============================================
# Policy File of /vendor/bin/ccci_fsd Executable File 


# ==============================================
# Type Declaration
# ==============================================

type ccci_rpcd_exec, exec_type, file_type, vendor_file_type;
type ccci_rpcd, domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

#permissive ccci_rpcd;
init_daemon_domain(ccci_rpcd)
#unconfined_domain(ccci_rpcd)

wakelock_use(ccci_rpcd)
#============= ccci_rpcd ==============
allow ccci_rpcd ccci_device:chr_file rw_file_perms;
allow ccci_rpcd block_device:dir search;
allow ccci_rpcd misc2_block_device:blk_file rw_file_perms;
allow ccci_rpcd bootdevice_block_device:blk_file rw_file_perms;
#============= ccci_rpcd sysfs related ==============
allow ccci_rpcd sysfs_ccci:dir search;
allow ccci_rpcd sysfs_ccci:file r_file_perms;
