# ==============================================
# MTK Policy Rule
# ==============================================

# Date : 2016/06/01
# Operation: TEEI integration
# Purpose: access for fp device and client device of TEEI
type teei_fp_device, dev_type;
type teei_client_device, dev_type;
type teei_config_device, dev_type;
type teei_vfs_device, dev_type;
type teei_rpmb_device, dev_type;
type ut_keymaster_device, dev_type;

allow system_server teei_client_device:chr_file r_file_perms;

# Date : 2016/07/11
# Operation : Migration
# Purpose : Add permission for gpu access
type dri_device, dev_type, mlstrustedobject;
