# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK14.34
# Operation : Migration
# Purpose : 6571/6572 GMO external memory access(/dev/exm0)
#allow dex2oat exm0_device:chr_file { read write ioctl open };

# Date : WK14.36
# Operation : Migration
# Purpose : for CIP project (access /custom partition)
allow dex2oat custom_file:dir { search getattr };
allow dex2oat custom_file:file { getattr read open };

# Date : WK14.38
# Operation : Sanity Test
# Purpose : avoid SELinux warning after dex2oat execv failed
allow dex2oat dex2oat_exec:file x_file_perms;

# Date : WK15.03
# Operation : MTBF Test
# Purpose : for K35V1_64_OP02 project MTBF test (ALPS01905764)
allow dex2oat platform_app:fd use;

