# ==============================================
# Policy File of /system/bin/dm_agent_binder Executable File 

# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK14.42
# Operation : Migration 
# Purpose : Allow DmAgent access nvram_data_file.
allow dm_agent_binder nvram_data_file:dir { rw_dir_perms };
allow dm_agent_binder nvdata_file:dir { rw_dir_perms };

# Date : WK14.42
# Operation : Basic UT 
# Purpose : Allow DmAgent access nvram_data_file.
allow dm_agent_binder nvram_data_file:file { create_file_perms };
allow dm_agent_binder nvram_data_file:lnk_file read;
allow dm_agent_binder nvdata_file:lnk_file read;
allow dm_agent_binder nvdata_file:file { create_file_perms };

# Date : WK14.42
# Operation : Basic UT 
# Purpose : Allow DmAgent access misc_device.
allow dm_agent_binder misc_device:chr_file { rw_file_perms };

# Date : 2014/10/17
# Operation : QC
# Purpose : [Privacy protection lock][dm_agent_binder call FileOp_BackupToBinRegionForDM to do nvram backup] 
allow dm_agent_binder nvram_device:blk_file rw_file_perms;

# Date : 2014/10/17
# Operation : QC
# Purpose : [Privacy protection lock][dm_agent_binder call FileOp_BackupToBinRegionForDM to do nvram backup] 
allow dm_agent_binder para_block_device:blk_file rw_file_perms;
allow dm_agent_binder bootdevice_block_device:blk_file rw_file_perms;

# Date : WK14.42
# Operation : Basic UT 
# Purpose : Allow DmAgent to set properties.
allow dm_agent_binder persist_dm_prop:property_service set;

# Date : WK14.44
# Operation : Basic UT 
# Purpose : Allow DmAgent to access nvram_device.
allow dm_agent_binder nvram_device:chr_file { rw_file_perms };

# Date : WK15.30
# Operation : Migration
# Purpose : for device bring up, not to block early migration/sanity
allow dm_agent_binder nvdata_file:dir create;

# Date : WK15.45
# Operation : SQC issue
# Purpose : permission to create directory in nvram
allow dm_agent_binder nvram_data_file:dir create;
