# ==============================================
# MTK Policy Rule
# ==============================================

# allow domain anr_data_file:file append;

# extmem policy for gmo debug15 over external memory
allow domain exm0_device:chr_file rw_file_perms;

# Date : WK15.29
# Operation : Migration
# Purpose : for device bring up, not to block early migration
allow { domain -isolated_app } storage_file:dir search;

# Date : WK17.29
# Operation : Migration
# Purpose : for aee dump systemAPI db, get backtrace
allow domain aee_aedv:process sigchld;
