#============= e2fs ==============
allow e2fs cache_block_device:blk_file getattr;
allow e2fs devpts:chr_file { getattr ioctl };
allow e2fs sysfs_fs_ext4_features:dir search;
allow e2fs system_block_device:blk_file getattr;
allow e2fs vendor_block_device:blk_file getattr;
