# ==============================================
# Policy File of embms Executable File

# ==============================================
# Type Declaration
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================
# Date: 2017/6/8
# Operator: VzW SDK library preloaded
# Purpose: comply with Vzw eMBMS operator requirement
type embms_library_file, file_type, data_file_type;
allow system_server embms_library_file:dir search;

# Date: 2017/6/08
# Operator: Allow eMBMS middleware install vzw SDK library
# Purpose: comply with Vzw eMBMS operator requirement
allow untrusted_app embms_library_file:dir {search getattr};
allow untrusted_app embms_library_file:file {read getattr open};
allow untrusted_app radio:unix_stream_socket connectto;

allow untrusted_app_25 embms_library_file:dir {search getattr};
allow untrusted_app_25 embms_library_file:file {read getattr open};
allow untrusted_app_25 radio:unix_stream_socket connectto;

allow platform_app embms_library_file:file create_file_perms;
allow platform_app embms_library_file:dir rw_dir_perms;
allow platform_app embms_library_file:dir {search getattr};
allow platform_app embms_library_file:file {read getattr open};
allow platform_app radio:unix_stream_socket connectto;