# ==============================================
# Policy File of /system/binfactory Executable File 

# ==============================================
# MTK Policy Rule
# ==============================================

#============= factory ==============
allow factory mnld_exec:file rx_file_perms;

#Date: WK15.31
#Purpose: define factory_data_file instead of system_data_file
# because system_data_file is sensitive partition from M
allow resize block_device:dir search;

#Date: WK17.46
allow factory e2fs_exec:file { read open execute getattr execute_no_trans };
allow factory fsck_exec:file { read open execute getattr execute_no_trans };
allow factory kmsg_device:chr_file { write open };
allow factory proc:file getattr;
allow factory dm_device:blk_file { read open write ioctl read getattr };
allow factory sysfs_fs_ext4_features:dir search;
allow factory sysfs_fs_ext4_features:file read;
allow factory system_block_device:blk_file getattr;
allow factory vendor_block_device:blk_file getattr;
allow factory cache_block_device:blk_file getattr;
allow factory protect1_block_device:blk_file getattr;
allow factory protect2_block_device:blk_file getattr;
