# ==============================================
# Policy File of /vendor/bin/flashlessd Executable File 

type flashlessd_exec, exec_type, file_type, vendor_file_type;
type flashlessd, domain;


# permissive flashlessd;

init_daemon_domain(flashlessd)


#============= flashlessd ttyMT related ==============
allow flashlessd ttyMT_device:chr_file rw_file_perms;


#============= ccci_fsd MD NVRAM==============
allow flashlessd nvram_data_file:dir create_dir_perms;
allow flashlessd nvram_data_file:file create_file_perms;
allow flashlessd nvram_data_file:lnk_file read;
allow flashlessd nvdata_file:lnk_file read;
allow flashlessd nvdata_file:dir create_dir_perms;
allow flashlessd nvdata_file:file create_file_perms;
allow flashlessd nvram_device:chr_file rw_file_perms;
allow flashlessd system_data_file:lnk_file read;
