# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK15.49
# Operation : Migration
# Purpose: Trustonic HW-backed Gatekeeper
allow hal_gatekeeper_default mobicore:unix_stream_socket { connectto read write };
allow hal_gatekeeper_default mobicore_user_device:chr_file { read write open ioctl};

#============= gatekeeperd ==============
allow gatekeeperd debugfs_tracing:file write;

#============= hal_gatekeeper_default ==============
allow hal_gatekeeper_default gatekeeper_data_file:dir { add_name remove_name search write };
allow hal_gatekeeper_default gatekeeper_data_file:file { create getattr open read unlink write };
allow hal_gatekeeper_default debugfs_tracing:file write;

# Date : 2016/06/01
# Operation: TEEI integration
# Purpose: Microtrust HW-backed Gatekeeper
allow hal_gatekeeper_default teei_fp_device:chr_file { read write open ioctl };
allow hal_gatekeeper_default teei_client_device:chr_file { read write open ioctl };
