# ==============================================
# Policy File of /system/bin/GoogleOtaBinder Executable File 

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

allow GoogleOtaBinder ota_agent_service:service_manager add;

# /dev/block/mmcblko
allow GoogleOtaBinder para_block_device:blk_file { write read open };
allow GoogleOtaBinder bootdevice_block_device:blk_file { write read open };
#/dev/misc
allow GoogleOtaBinder misc_device:chr_file { write read open ioctl};

