# allow processes register buffer queue information to gui_ext
# TODO:: Due to vendor_app defined in non_plat, so keep this policy in non_plat.
# Note:: This rule maybe OEM BSP specific, if the sepolicy compilation pass without this rule, this can be ignored
allow {appdomain binderservicedomain -isolated_app -vendor_app -mobicore_app} guiext-server_service:service_manager find;
