# HwBinder IPC from clients into server, and callbacks
binder_call(hal_wfo_client, hal_wfo_server)
binder_call(hal_wfo_server, hal_wfo_client)

# give permission for hal client
allow hal_wfo_client mtk_hal_wfo_hwservice :hwservice_manager find;
