# HwBinder IPC from clients into server, and callbacks
binder_call(hal_dfps_client, hal_dfps_server)
binder_call(hal_dfps_server, hal_dfps_client)

# give permission for hal client
allow hal_dfps_client mtk_hal_dfps_hwservice:hwservice_manager find;
