# HwBinder IPC from clients into server, and callbacks
binder_call(hal_rcs_client, hal_rcs_server)
binder_call(hal_rcs_server, hal_rcs_client)

# give permission for hal client
allow hal_rcs_client volte_rcs_ua_hwservice :hwservice_manager find;
