type hal_mtkcodecservice_default,domain;
hal_server_domain(hal_mtkcodecservice_default,hal_mtkcodecservice)
type hal_mtkcodecservice_default_exec,exec_type,file_type,vendor_file_type;
init_daemon_domain(hal_mtkcodecservice_default)
allow hal_mtkcodecservice_default hidl_allocator_hwservice:hwservice_manager find;
allow hal_mtkcodecservice_default hidl_memory_hwservice:hwservice_manager find;
hal_client_domain(hal_mtkcodecservice_default, hal_allocator)