# HwBinder IPC from clients into server, and callbacks
binder_call(hal_presence_client, hal_presence_server)
binder_call(hal_presence_server, hal_presence_client)

# give permission for hal client
allow hal_presence_client volte_uce_ua_hwservice :hwservice_manager find;
