# HwBinder IPC from client to server, and callbacks
binder_call(hal_mtkcodecservice_client, hal_mtkcodecservice_server)
binder_call(hal_mtkcodecservice_server, hal_mtkcodecservice_client)
add_hwservice(hal_mtkcodecservice_server,hal_mtkcodecservice_hwservice)
allow hal_mtkcodecservice_client hal_mtkcodecservice_hwservice:hwservice_manager find;