#============= hal_drm_widevine ==============
allow hal_drm_widevine mobicore:unix_stream_socket connectto;
allow hal_drm_widevine persist_data_file:dir search;
allow hal_drm_widevine mobicore_user_device:chr_file { read write ioctl open };
allow hal_drm_widevine persist_data_file:file { read getattr open };
allow hal_drm_widevine proc:file { read ioctl open };
allow hal_drm_widevine property_socket:sock_file write;
allow hal_drm_widevine mobicore_data_file:file { read open getattr};
allow hal_drm_widevine mobicore_data_file:dir search;
allow hal_drm_widevine block_device:dir search;
allow hal_drm_widevine kb_block_device:blk_file r_file_perms;
allow hal_drm_widevine dkb_block_device:blk_file r_file_perms;

