type mtk_hal_wfo_hwservice, hwservice_manager_type;
type mtk_hal_keyinstall_hwservice, hwservice_manager_type;
type volte_uce_ua_hwservice, hwservice_manager_type;
type mtk_hal_videotelephony_hwservice, hwservice_manager_type;
type hal_mtkcodecservice_hwservice, hwservice_manager_type;
type mtk_hal_netdagent_hwservice, hwservice_manager_type;
type volte_rcs_ua_hwservice, hwservice_manager_type;
type mtk_hal_dfps_hwservice, hwservice_manager_type;