# ==============================================
# MTK Policy Rule
# ============

# Date : WK15.15
# Operation : Migration
# Purpose : set specific label for used raw partitions, for dumchar cases.
allow init block_device:blk_file relabelfrom;
allow init system_block_device:blk_file relabelfrom;
allow init nvram_device:blk_file relabelto;
allow init nvdata_device:blk_file relabelto;
allow init nvcfg_block_device:blk_file relabelto;
allow init expdb_block_device:blk_file relabelto;
allow init misc2_block_device:blk_file relabelto;
allow init logo_block_device:blk_file relabelto;
allow init para_block_device:blk_file relabelto;
allow init tee_block_device:blk_file relabelto;
allow init seccfg_block_device:blk_file relabelto;
allow init secro_block_device:blk_file relabelto;
allow init frp_block_device:blk_file relabelto;
allow init userdata_block_device:blk_file relabelto;
allow init mtk_hal_dfps_exec:file getattr;
