# Date : WK14.41
# Operation : Migration 
# Purpose : update recovery image
allow install_recovery bootimg_device:chr_file { open read write };
allow install_recovery recovery_device:chr_file { open read write };
allow install_recovery sysfs:file { open read write };
allow install_recovery tee_part_device:chr_file ~rename;
allow install_recovery para_block_device:blk_file rw_file_perms;
allow install_recovery recovery_block_device:blk_file rw_file_perms;
dontaudit install_recovery system_file:file entrypoint;

# Date : WK15.13
# Operation : UT
# Purpose : Nand device policy
allow install_recovery mtd_device:dir search;
allow install_recovery mtd_device:chr_file { open read write ioctl };

# Date : WK15.32
# Operation : UT
# Purpose : M migration applypatch read boot partition and get gpt path function
allow install_recovery boot_block_device:blk_file { open read };
allow install_recovery block_device:dir { open read };

# Date : WK17.48
# Operation : UT
# Purpose : add policy for update recovery
allow install_recovery mtd_device:blk_file rw_file_perms;
