# ==============================================
# Policy File of /vendor/bin/ipsec_mon  Executable File 


# ==============================================
# Type Declaration
# ==============================================

type ipsec_mon_exec , exec_type, file_type, vendor_file_type;
type ipsec_mon, domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

#permissive ipsec_mon;
domain_auto_trans(init,ipsec_mon_exec,ipsec_mon)
#init_daemon_domain(ipsec_mon)
#unconfined_domain(ipsec_mon)


allow ipsec_mon system_file:file execute_no_trans;
allow ipsec_mon property_socket:sock_file write;
allow ipsec_mon system_prop:property_service set;
allow ipsec_mon self:netlink_xfrm_socket { write bind create read nlmsg_read nlmsg_write};
allow ipsec_mon ims_ipsec_data_file:dir { write add_name search };
allow ipsec_mon ims_ipsec_data_file:file { setattr read create getattr write ioctl open append };
allow ipsec_mon init:unix_stream_socket connectto;
allow ipsec_mon self:capability { net_admin dac_override };
allow ipsec_mon self:key_socket { write read create setopt };

#Date: W17.36
#Purpose: ipsec_mon fulfill 3x solution
allow ipsec_mon self:capability net_raw;
allow ipsec_mon self:udp_socket { create ioctl };
allow ipsec_mon self:netlink_route_socket { write read create nlmsg_read bind};
allowxperm ipsec_mon self:udp_socket ioctl { SIOCDEVPRIVATE_2 };
allow ipsec_mon devpts:chr_file { open read write };
allow ipsec_mon proc_net:file { open write };

