# ==============================================
# MTK Policy Rule
# ============

# Date : WK17.42 2017/10/19
# Operation: Keymaster 3.0
# Purpose: Access attestation key in persist partition
allow hal_keymaster_default persist_data_file:dir search;
allow hal_keymaster_default persist_data_file:file { read getattr open };

# Date : WK17.22 2017/06/02 (Revised for HIDL)
# Operation : keystore CTS
# Purpose : Open MobiCore access permission for keystore CTS hardware-backed solution
allow hal_keymaster_default mobicore:unix_stream_socket { connectto read write };
allow hal_keymaster_default mobicore_user_device:chr_file { read write open ioctl};

# Date : 2016/06/01
# Operation: TEEI integration
# Purpose: Microtrust HW-backed Keymaster
allow hal_keymaster_default ut_keymaster_device:chr_file { read write open ioctl};
allow hal_keymaster_default teei_client_device:chr_file { read write open ioctl};
