# ==============================================
# Policy File of /system/bin/launchpppoe Executable File 

# ==============================================
# Type Declaration
# ==============================================
type launchpppoe, domain;
type launchpppoe_exec, exec_type, file_type;

# ==============================================
# MTK Policy Rule
# ==============================================


# Date : WK14.38
# Operation : Migration 
# Purpose : transit to ppp directly since the resource are shared and serve the same purpose
# domain_auto_trans(init, launchpppoe_exec, ppp)

