# ==============================================
# MTK Policy Rule
# ============
allow logd logd_prop:property_service set;
allow logd logmuch_prop:property_service set;
allow logd log_tag_prop:property_service set;

# Date : W17.47
# Allow system_server to enable/disable logmuch_prop for Wi-Fi logging purpose
neverallow {domain -init -logd -radio -mtkrild -cameraserver -mtk_hal_camera -system_server -mtkimsmddomain} logmuch_prop:property_service set;

# purpose: allow logd to access aee socket
allow logd aee_aed:unix_stream_socket connectto;

# Date : W18.01
# Add for turn on SElinux in enforcing mode
allow logd property_socket:sock_file write;
allow logd init:unix_stream_socket connectto;
