# ==============================================
# Policy File of /system/bin/meta_tst Executable File

# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK14.42
# Operation : L Migration
# Purpose : for meta mode driver module operation
#============= meta_tst ==============
allow meta_tst mnld_exec:file rx_file_perms;

# Date : 2016/06/01
# Operation: TEEI integration
# Purpose: Microtrust service
allow meta_tst init_thh_service_exec:file { x_file_perms read open };
allow meta_tst teei_data_file:dir create_dir_perms;
allow meta_tst teei_data_file:file rw_file_perms;
allow meta_tst teei_data_file:file create_file_perms;
allow meta_tst teei_client_device:chr_file { create setattr unlink rw_file_perms };
allow meta_tst soter_teei_prop:property_service {set};
allow meta_tst teei_client_device:chr_file rw_file_perms;
allow meta_tst teei_thh_data_file:dir { search write };
allow meta_tst teei_thh_data_file:file create_file_perms;
allow meta_tst teei_thh_data_file:file rw_file_perms;

allow meta_tst camera_fdvt_device:chr_file rw_file_perms;
allow meta_tst camera_owe_device:chr_file rw_file_perms;
allow meta_tst camera_wpe_device:chr_file rw_file_perms;
allow meta_tst camera_gepf_device:chr_file rw_file_perms;
allow meta_tst camera_rsc_device:chr_file rw_file_perms;
allow meta_tst camera_tsf_device:chr_file rw_file_perms;
allow meta_tst camera_isp_device:chr_file { read write ioctl open };
allow meta_tst ccu_device:chr_file { read write ioctl open };
allow meta_tst vpu_device:chr_file { read write ioctl open };

# Data: W17.27
# DRM Key Installation HIDL
allow meta_tst mtk_hal_keyinstall:binder call;

# Date: W17.27
# Purpose : Allow meta_tst to call vendor.mediatek.hardware.keyinstall@1.0-service.
hal_client_domain(meta_tst, hal_keymaster)

# Date: W17.46
allow meta_tst e2fs_exec:file { read open execute getattr execute_no_trans };
allow meta_tst fsck_exec:file { read open execute getattr execute_no_trans };
allow meta_tst dm_device:blk_file { read open write ioctl read getattr };
allow meta_tst devpts:chr_file { read write ioctl open getattr};
allow meta_tst kmsg_device:chr_file { write open };
allow meta_tst proc:file getattr;
allow meta_tst dm_device:blk_file { read write ioctl getattr };
allow meta_tst sysfs_fs_ext4_features:dir search;
allow meta_tst sysfs_fs_ext4_features:file read;
#allow meta_tst sysfs:dir { read open };
allow meta_tst vendor_block_device:blk_file getattr;
allow meta_tst protect1_block_device:blk_file getattr;
allow meta_tst protect2_block_device:blk_file getattr;

#Date: W17.48
#Purpose : meta connect with ATCI by socket.
#allow meta_tst socket_device:dir write;
#allow meta_tst socket_device:dir add_name;
#allow meta_tst property_socket:sock_file write;
#allow meta_tst socket_device:sock_file create;
allow meta_tst persist_service_atci_prop:property_service set;
allow meta_tst atcid:unix_stream_socket connectto;
