# Fix bootup violation
# property "mtk_em_video_log_sf_postbuffer_prop" define for bsp package
get_prop(mobile_log_d,mtk_em_video_log_sf_postbuffer_prop)
