type mobicore_app, domain;
app_domain(mobicore_app)
net_domain(mobicore_app)

# ==============================================
# Rules between mobicore_app and mobicore
# ==============================================

# For RootPA (TA installation OTAv1) + RSU daemon
allow mobicore_app mobicore_user_device:chr_file { getattr read write ioctl open };
allow mobicore_app mobicore_admin_device:chr_file { getattr };

allow mobicore_app mobicore_data_file:dir { read getattr open search};
allow mobicore_app mobicore_data_file:file { read getattr open };
allow mobicore_app mobicore_tui_device:chr_file { ioctl open read};
allow mobicore_app mobicore:unix_stream_socket { connectto };
allow mobicore_app mobicore_socket:sock_file write;

# ==============================================================
# Rules OEM specific for mobicore_app
# Only uncomment the necessary rules to avoid security holes
# ==============================================================
# allow mobicore_app activity_service:service_manager find;
# allow mobicore_app connectivity_service:service_manager find;
# allow mobicore_app display_service:service_manager find;
# allow mobicore_app accessibility_service:service_manager find;
# allow mobicore_app mount_service:service_manager find;
# allow mobicore_app graphicsstats_service:service_manager find;
# allow mobicore_app input_method_service:service_manager find;
# allow mobicore_app surfaceflinger_service:service_manager find;
# allow mobicore_app input_service:service_manager find;
# allow mobicore_app account_service:service_manager find;
# allow mobicore_app audio_service:service_manager find;
# allow mobicore_app autofill_service:service_manager find;
# allow mobicore_app input_service:service_manager find;
# allow mobicore_app power_service:service_manager find;
# allow mobicore_app package_service:service_manager find;
# allow mobicore_app radio_service:service_manager find;
# allow mobicore_app registry_service:service_manager find;
# allow mobicore_app rootfs:dir { read open };
# allow mobicore_app user_service:service_manager find;
# allow mobicore_app network_management_service:service_manager find;
# allow mobicore_app notification_service:service_manager find;
# allow mobicore_app proc:file { read ioctl open getattr};
# allow mobicore_app self:netlink_kobject_uevent_socket { create read bind setopt };

