# ==============================================
# MTK Policy Rule
# ==============================================


# Date : WK15.29
# Operation : Feature Developing
# Purpose : Setup Connection with GPS for sensor aiding data exchange
allow MPED mnld_data_file:dir create_dir_perms;
allow MPED mnld_data_file:sock_file create_file_perms;
allow MPED mnld:unix_dgram_socket sendto;
