# ==============================================
# Policy File of /vendor/bin/hw/vendor.mediatek.hardware.pq@2.0-service Executable File

# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK17.01
# Operation : New feature: Factory Gamma
# Purpose : Allow nvram access
allow mtk_hal_pq system_data_file:lnk_file read;
allow mtk_hal_pq nvdata_file:dir { write search add_name };
allow mtk_hal_pq nvdata_file:file { read write getattr setattr open create };
allow mtk_hal_pq nvram_data_file:dir search;
allow mtk_hal_pq nvram_data_file:dir w_dir_perms;
allow mtk_hal_pq nvram_data_file:file create_file_perms;
allow mtk_hal_pq nvram_data_file:lnk_file read;
allow mtk_hal_pq nvdata_file:lnk_file read;
