# HwBinder IPC from client to server, and callbacks
binder_call(mtk_hal_netdagent_client, mtk_hal_netdagent_server)
binder_call(mtk_hal_netdagent_server, mtk_hal_netdagent_client)

add_hwservice(mtk_hal_netdagent_server, mtk_hal_netdagent_hwservice)
allow mtk_hal_netdagent_client mtk_hal_netdagent_hwservice:hwservice_manager find;
