# ==============================================
# Policy File of /system/bin/mtk_agpsd Executable File

# Request CDMA network info for CDMA A-GPS
allow mtk_agpsd rild:unix_dgram_socket sendto;

#============= mtk_agpsd ==============
allow mtk_agpsd sysfs_ccci:dir search;
allow mtk_agpsd sysfs_ccci:file { read open };
