# Date : 2017/10/24
# Operation: SQC
# Purpose : Allow powerHAL to access dfps
allow mtk_hal_power mtk_hal_dfps:binder call;
hal_client_domain(mtk_hal_power, hal_dfps);
