# ==============================================
# Policy File of /system/bin/mtk_advcamserver Executable File

# permissive mtk_advcamserver;
# ==============================================
# MTK Policy Rule
# ==============================================

binder_call(mtk_advcamserver, mtk_hal_camera)

allow mtk_advcamserver hal_graphics_allocator_default:fd use;
allow mtk_advcamserver hal_graphics_mapper_hwservice:hwservice_manager find;
allow mtk_advcamserver ion_device:chr_file { open read };
allow mtk_advcamserver debugfs_ion:dir search;
allow mtk_advcamserver ion_device:chr_file ioctl;
allow mtk_advcamserver proc_perfmgr:dir search;
allow mtk_advcamserver proc_perfmgr:file { open read ioctl };
