# ==============================================
# Policy File of /system/bin/mtkfusionrild Executable File

# ==============================================
# MTK Policy Rule
# ==============================================

typeattribute rild mtkimsapdomain;
