# ==============================================
# Policy File of /system/bin/mtkrild Executable File

# ==============================================
# MTK Policy Rule
# ==============================================

typeattribute mtkrild mtkimsapdomain;
allow mtkrild logmuch_prop:property_service set;

# For MultiSim dynamic switch
set_prop(mtkrild, usp_prop)

# For sim property
set_prop(mtkrild, cdma_prop)
