# ==============================================
# MTK Policy Rule
# ==============================================
type dhcp6s_exec,exec_type,file_type;

# Date : WK14.41
# Operation : Migration
# Purpose :  ipv6 Tethering Test 
#============= netd ==============
allow netd dhcp6s_exec:file execute;
allow netd radvd_data_file:dir { read write search add_name remove_name};
allow netd radvd_data_file:file { read write create open unlink};


# Date : W15.39
# Operation :  CAT6 T-put
# Purpose :  CAT6 T-put
# Owner : Kang ouyang
allow netd mtk_perf_service:service_manager find;


# Date : W16.25
# Operation : Ipv6 Set Prefix(Only for Android N)
# Purpose : set prefix and len
# Owner : Changqing Sun
set_prop(netd,mtk_net_ipv6_prop)

# Date : W17.31
# Operation : O migration
# # Purpose : Allow ViLTE use udp_socket
allow netd vtservice:fd use;
allow netd vtservice:udp_socket {read write setopt getopt};
