#============= netutils_wrapper for ipsec_mon==============
allow netutils_wrapper ipsec_mon:fd use;
allow netutils_wrapper ipsec_mon:netlink_route_socket { read write };
allow netutils_wrapper ipsec_mon:netlink_xfrm_socket { read write };
allow netutils_wrapper devpts:chr_file { getattr ioctl read write };

#============= netutils_wrapper for netdagent==============
allow netutils_wrapper netdagent:fd use;
allow netutils_wrapper netdagent:unix_stream_socket { read write };

#============= netutils_wrapper for rild==============
allow netutils_wrapper rild:fd use;
allow netutils_wrapper rild:unix_stream_socket { read write };
