# ==============================================
# MTK Policy Rule
# ==============================================


# ==============================================
# Date      : 2014/10/15
# Operation : Refine
# Purpose   : Set NFC permission to access nfc_socket.

allow nfc nfc_socket:dir { write remove_name add_name search };
allow nfc nfc_socket:sock_file { write create setattr unlink };


# ==============================================
# Date      : 2014/10/15
# Operation : Refine
# Purpose   : Set NFC permission to access custom file.

allow nfc custom_file:dir getattr;


# ==============================================
# Date      : 2014/10/15
# Operation : Refine
# Purpose   : Set NFC permission to access mt6605_device ( nfc device node ) .

allow nfc mt6605_device:chr_file { read write getattr open ioctl };


# ==============================================
# Date      : 2014/10/15
# Operation : Refine
# Purpose   : Set NFC permission to access nfc data file.

allow nfc nfc_data_file:dir { write remove_name add_name search create setattr };
allow nfc nfc_data_file:file { read getattr open rename write ioctl setattr create unlink };


# ==============================================
# Date      : 2014/10/15
# Operation : Refine
# Purpose   : Set NFC permission to access SD card for debug purpose.

allow nfc sdcard_type:dir { write remove_name search create add_name };
allow nfc sdcard_type:file { read write getattr open rename create };
allow nfc vfat:dir { write add_name search };
allow nfc vfat:file { read write getattr open create };


# ==============================================
# Date      : 2014/10/15
# Operation : Refine
# Purpose   : Set NFC permission for update screen (activity,dialog,animation, ex: Nfc Beam)

allow nfc guiext-server:binder call;


# ==============================================
# Date      : 2014/10/15
# Operation : Refine
# Purpose   : Set NFC permission for WFD

allow nfc surfaceflinger:dir search;
allow nfc surfaceflinger:file { read getattr open };


# ==============================================
# Date      : 2014/10/15
# Operation : Refine
# Purpose   : For Mdlogger

allow nfc node:tcp_socket node_bind;
allow nfc port:tcp_socket name_bind;
allow nfc self:tcp_socket { setopt read bind create accept write getattr connect getopt listen };


# ==============================================
# Date      : 2014/10/15
# Operation : Refine
# Purpose   : For Gallery3d

#allow nfc init:binder { transfer };


# ==============================================
# Date      : 2014/10/15
# Operation : Refine
# Purpose   : For NFC-JNI

allow nfc zygote:unix_stream_socket { getopt getattr };


# ==============================================
# Date      : 2014/10/15
# Operation : Refine
# Purpose   : For VPN

allow nfc init:unix_stream_socket { write read setopt };



# allow nfc adbd:unix_stream_socket setopt;
# allow nfc dumpstate:fd use;
# allow nfc dumpstate:unix_stream_socket { read write getopt getattr };

# Date : WK1546
# Operation : Migration
# Purpose: Allow nfc to read binder from surfaceflinger
allow nfc surfaceflinger:fifo_file {read write};

# ==============================================
# Date      : 2015/10/16
# Operation : SQC
# Purpose   : NFC plays sound which uses DrmServer
#============= drmserver ==============
allow drmserver nfc:dir search;

# ==============================================
# Date      : 2016/06/30
# Operation : SQC
# Purpose   : Allow NFC to plays sound which uses DrmServer
#============= nfc ==============
allow nfc drmserver_service:service_manager find;

# ==============================================
# Date      : 2016/07/04
# Operation : SQC
# Purpose   : Allow NFC to access media data file
#============= nfc ==============
allow nfc media_rw_data_file:dir { create read open write remove_name search add_name };
allow nfc media_rw_data_file:file { read write create unlink open rename };

# ==============================================
# Date      : 2016/11/10
# Operation : SQC
# Purpose   : Allow NFC to use gas service
#============= nfc ==============
allow nfc gas_srv_service:service_manager find;

# ==============================================
# Date      : 2016/11/10
# Operation : SQC
# Purpose   : Allow NFC to use FileManager share file
#============= nfc ==============
allow nfc sw_sync_device:chr_file getattr;

# ==============================================
# Date      : 2017/07/26
# Operation : Refine
# Purpose   : Set NFC permission to access st21nfc_device ( nfc device node ) .
#============= nfc ==============
allow nfc st21nfc_device:chr_file { read write getattr open ioctl };
