# ==============================================
# MTK Policy Rule
# ==============================================
# Date : WK17.23
# Stage: O Migration, SQC
# Purpose: Allow to use mtk telephony APIs (phoneEx)
allow priv_app mtk_radio_service:service_manager find;

# Date : WK17.23
# Stage: O Migration, SQC
# Purpose: Allow to use HAL PQ
hal_client_domain(priv_app, hal_pq)

# Date : WK17.23
# Stage: O Migration, SQC
# Purpose: Allow to use shared memory for HAL PQ
hal_client_domain(priv_app, hal_allocator)