# ==============================================
# MTK Policy Rule
# ==============================================

#=============allow ccci_mdinit to start ccci_rpcd==============
type ctl_ccci_rpcd_prop, property_type;
type ctl_ccci2_rpcd_prop, property_type;

#=============allow DM==============
type persist_dm_prop, property_type, mtk_core_property_type;
type ctl_rbfota_prop, property_type;

#=============allow statusd==============
type cdma_prop, property_type, mtk_core_property_type;

#=============allow pppd ==============
type pppd_gprs_prop, property_type, mtk_core_property_type;

#=============allow teei deamon and init_thh daemon to set property ==============
type soter_teei_prop, property_type, mtk_core_property_type;

#=============allow log filter property==============
type logfilter_prop, property_type, mtk_core_property_type;
#type persist_logfilter_prop, property_type;

#=============allow android log much property==============
type logmuch_prop, property_type, mtk_core_property_type;

#=============allow Netd property==============
type mtk_net_ipv6_prop, property_type, mtk_core_property_type;

#=============allow volte_rcs_proxy ==============
type ril_volte_stack_rcsuaproxy_prop, property_type, mtk_core_property_type;

#=============allow volte_uce_ua ==============
type ril_volte_stack_uceua_prop, property_type, mtk_core_property_type;


#=============allow em set video log================
type mtk_em_video_log_acodec_prop, property_type;
type mtk_em_video_log_sf_postbuffer_prop, property_type;
type mtk_em_video_log_omx_prop, property_type;
type mtk_em_video_log_vdec_prop, property_type;
type mtk_em_video_log_svp_prop, property_type;
type mtk_em_video_log_mjc_prop, property_type;

#=============allow system server to set appdetection property  ==============
type appdetection_prop, property_type;
type mtk_em_video_venc_h264_prop, property_type;

#=============allow radio to set mtk_volte_enable property==============
type mtk_volte_prop, property_type, mtk_core_property_type;

#=============allow radio to set mtk_wfc_enable property==============
type mtk_wfc_prop, property_type, mtk_core_property_type;

#=============allow radio to set mtk_vilte_enable property==============
type mtk_vilte_prop, property_type, mtk_core_property_type;

#=============allow radio to set mtk_viwifi_enable property==============
type mtk_viwifi_prop, property_type, mtk_core_property_type;

#=============allow radio to set mtk_vt_enable property==============
type mtk_vt_prop, property_type, mtk_core_property_type;

#=============allow EM set operator property=============
type mtk_operator_id_prop, property_type, mtk_core_property_type;

#=============allow atcid==============
type persist_service_atci_prop, property_type, mtk_core_property_type;

#============= allow uniservice-pack ==============
type usp_prop, property_type, mtk_core_property_type;
type usp_srv_prop, property_type, mtk_core_property_type;

#=============allow wifi offload deamon to set system property  ==============
type mtk_epdg_prop, property_type, mtk_core_property_type;
type persist_epdg_prop, property_type, mtk_core_property_type;

#=============allow netdagent to set prop  ==============
type netdagent_prop, property_type;

#=============allow EM set ims property================
type mtk_em_ims_prop, property_type, mtk_core_property_type;

#=============allow EM set ims test mode property=============
type ims_mode_prop, property_type, mtk_core_property_type;

#=============allow system update to set prop=============
type mtk_update_prop, property_type, mtk_core_property_type;

#=============allow system_server to set media.wfd.*==============
type media_wfd_prop, property_type, mtk_core_property_type;

#=============allow program binary deamon  ==============
type program_binary_prop, property_type, mtk_core_property_type;
