# ==============================================
# MTK Policy Rule
# ============
allow radio dm_agent_binder:binder call;

# Date : WK16.09
# Operation : Migration for SWO policy package survey
allow radio rild_mal_socket:sock_file write;
allow radio rild_mal_at_socket:sock_file write;
allow radio rild_mal_md2_socket:sock_file write;
allow radio rild_mal_at_md2_socket:sock_file write;

# C2K System Property
allow radio cdma_prop:property_service set;


# Date : WK14.38 2016/06/28
# Operation : Migration
# Purpose : for engineermode
allow radio guiext-server:binder { transfer call };

# Date : WK17.06 2017/02/07
# Operation : Migration
# Purpose : for engineermode telephony log settings
set_prop(radio, logmuch_prop)
set_prop(radio, log_tag_prop)

#Date : 2017/02/10
#Operation: Migration
#Purpose: for engineermode setting video log
set_prop(radio, mtk_em_video_log_acodec_prop)
set_prop(radio, mtk_em_video_log_sf_postbuffer_prop)
set_prop(radio, mtk_em_video_log_omx_prop)
set_prop(radio, mtk_em_video_log_vdec_prop)
set_prop(radio, mtk_em_video_log_svp_prop)
set_prop(radio, mtk_em_video_log_mjc_prop)
set_prop(radio, mtk_em_video_venc_h264_prop)

allow radio mtk_registry_service:service_manager add;

# Fix boot violation
add_service(radio, mtk_radio_service)

# Date : 2017/06/06
# Purpose: for iphonesubinfoEx service
add_service(radio, mtk_phonesubinfo_service)

# Date : 2017/06/12
# Purpose: for world phone set modem type
set_prop(radio, ril_active_md_prop)

# Date : 2017/06/15
# Purpose: for mtksimphonebook service
add_service(radio, mtk_simphonebook_service)

# Date : WK1721 2017/5/26
# Operation : IT
# Purpose : Allow to use HAL Wfo
hal_client_domain(radio, hal_wfo)

# Date : WK15.33 2015/08/13
# Operation : IT
# Purpose : for setting volte enable property
allow radio mtk_volte_prop:property_service set;

# Date : WK15.48 2015/11/23
# Operation : IT
# Purpose : for setting wfc enable property
allow radio mtk_wfc_prop:property_service set;

# Date : WK16.47 2016/11/17
# Operation : IT
# Purpose : for setting vilte enable property after 93 modem
set_prop(radio, mtk_vilte_prop)

# Date : WK16.47 2016/11/17
# Operation : IT
# Purpose : for setting viwifi enable property
set_prop(radio, mtk_viwifi_prop)

# Date : WK15.48 2015/11/23
# Operation : IT
# Purpose : for setting vt enable property
allow radio mtk_vt_prop:property_service set;

# Date : 2014/10/20
# Operation : IT
# Purpose : enable ATCI in engineer mode.
allow radio persist_service_atci_prop:property_service set;

# Date : 2017/08/14
# Operation : VT development
# Purpose : Add vtservice to support video telephony functionality
#           3G VT/ViLTE both use this service which will also communication with IMCB/Rild
allow radio vtservice:binder call;
allow radio vtservice:binder transfer;
allow radio vtservice_service:service_manager find;

# Date : WK1634 2016/8/16
# Operation : IT
# Purpose: EM should set ims operator
set_prop(radio, mtk_operator_id_prop)

# Date : WK1619 2016/5/7
# Operation : EM needs to set ims test mode
# Purpose: IMS test mode change IA APN for OP12, define a MTK proprietary property for it
set_prop(radio, ims_mode_prop)

#Date : 2016/5/31
#Operation: IT
# Purpose: allow EM to enable/disable ims reconfiguration dynamically
set_prop(radio, mtk_em_ims_prop)

# Date : WK1626 2016/6/24
# Operation : IT
# Purpose: EM should set Multi sim setting
set_prop(radio, usp_prop)

# Date : WK1734 2017/09/19
# Purpose : Allow EM use mtk_hal_netdagent_hwservice
hal_client_domain(radio,mtk_hal_netdagent)

# Date : 2015/09/14
# Operation : IT
# Purpose : Engineering mode need to get NFC Service
allow radio nfc_service:service_manager find;

# Date : 2017/07/27
# Operation : IT
# Purpose : STMicro NFC integration for Engineering mode
allow radio st21nfc_device:chr_file { read write getattr ioctl open };
allow radio vendor_file:file { getattr execute execute_no_trans read open };
set_prop(radio,hwservicemanager_prop);

# Dat: 2017/08/26
# Operation : IT
# Purpose : to find DmAgent service
allow radio dm_agent_binder_service:service_manager find;
# Date : 2015/10/27
# Purpose : for engineermode WFD IOT property
set_prop(radio,media_wfd_prop);

# Date: 2017/11/14
# Operation: IT
# Purpose: RCS over Internet feature
set_prop(radio, ril_volte_stack_rcsuaproxy_prop);

# Date: 2017/11/14
# Operation : rcs hal developing
# Purpose : Allow to use HAL rcs
hal_client_domain(radio, hal_rcs);

