# ==============================================
# Policy File of /system/bin/rilproxy Executable File

allow rild statusd:unix_stream_socket connectto;
allow rild rild_via_socket:sock_file write;
allow rild viarild:unix_stream_socket connectto;
allow rild cdma_prop:property_service set;
allow rild ril_cdma_report_prop:property_service set;
allow rild rild_vsim_socket:sock_file write;

# Allow the find/call of netdagent for rilproxy
allow rild mtk_hal_netdagent_hwservice:hwservice_manager find;
allow rild netdagent:binder call;

#Dat: 2017/02/14
#Purpose: allow set telephony Sensitive property
set_prop(rild, mtk_telephony_sensitive_prop)
