# ==============================================
# MTK Policy Rule
# ============

# GAT ls /data/aee_exp/db.xxxx
allow shell aee_exp_data_file:dir r_dir_perms;
allow shell aee_exp_data_file:file r_file_perms;

# Date : WK17.46
# Operation : Migration
# Purpose: Allow shell to read KE DB
allow shell aee_dumpsys_data_file:file r_file_perms;
