# ==============================================
# Policy File of /vendor/bin/STFlashTool Executable File

# ==============================================
# Type Declaration
# ==============================================
type stflashtool, domain;
type stflashtool_exec, exec_type, file_type, vendor_file_type;

# ==============================================
# MTK Policy Rule
# ==============================================
# Date : WK1652
# Operation : Migration
# Purpose : Start STFlashTool to upgrade the FW for ST NFC Solution
init_daemon_domain(stflashtool);

#============= stflashtool ==============
allow stflashtool st21nfc_device:chr_file { read write ioctl open };

