# ==============================================
# Policy File of /system/bin/thermald Executable File


# Date : WK17.28
# Operation : SQC
# Purpose : for thermal management to shutdown the phone
allow thermald proc_thermal:dir search;
allow thermald proc_thermal:file { read getattr open write };

