# ==============================================
# MTK Policy Rule
# ============

# for early-migration, set as permissive
# permissive ueventd;

# add for sysfs:leds; pls check it on L official policy
allow ueventd sysfs:file setattr;

#add for gmo+512M project
allow ueventd platform_app:fd use;

#add for sysfs:md32
allow ueventd sysfs_md32:file { write open };

#add for sysfs:scp
allow ueventd sysfs_scp:file { write open };

#add for sysfs:sspm
allow ueventd sysfs_sspm:file { write open };
