# ==============================================
# MTK Policy Rule
# ============
# uncrypt for mtd
allow uncrypt mtd_device:chr_file { read write open ioctl };
allow uncrypt mtd_device:dir search;

allow uncrypt misc_device:chr_file ~rename;
allow uncrypt system_data_file:file { open read };
allow uncrypt userdata_block_device:blk_file w_file_perms;
allow uncrypt para_block_device:blk_file { write open };
allow uncrypt system_app_data_file:dir { getattr search };
allow uncrypt system_app_data_file:file { read getattr };
allow uncrypt media_rw_data_file:dir { getattr search };
allow uncrypt media_rw_data_file:file { read getattr open };
#allow uncrypt recovery_block_device:blk_file w_file_perms;
