# ==============================================
# MTK Policy Rule
# ==============================================


# TODO:: Security Issue
# Date : W1803
# Operation : APPIOT issue
# Purpose : Allow 3rd-party app to open system app file(.so)
allow untrusted_app_25 system_data_file:file { open execute };
