# ==============================================
# MTK Policy Rule
# ============
# ==============================================
# Type Declaration
# ==============================================
# ==============================================
# MTK Policy Rule
# ==============================================

allow usp_service para_block_device:blk_file rw_file_perms;
allow usp_service proc_lk_env:file rw_file_perms;
allow usp_service ccci_device:chr_file rw_file_perms;
set_prop(usp_service, usp_srv_prop)
set_prop(usp_service, ril_mux_report_case_prop)
set_prop(usp_service, ril_cdma_report_prop)
