#============= vold ==============
allow vold nvcfg_file:dir { read ioctl open };
allow vold proc_perfmgr:dir { read open };

# ==============================================
# MICROTRUST Policy Rule
# ==============================================

# Date : 2016/06/01
# Operation: TEEI integration
# Purpose: Microtrust HW-backed Keymaster
allow vold ut_keymaster_device:chr_file { read write open ioctl};
allow vold teei_client_device:chr_file { read write open ioctl};
