# ==============================================
# MTK Policy Rule
# ==============================================


# Date : WK14.31
# Operation : Migration 
# Purpose : for MTK boot performance profiling, for access /proc/bootprof
allow zygote devmap_device:chr_file { read ioctl open };
allow zygote proc:file write;

# Date : WK14.34
# Operation : Migration 
# Purpose : 6571/6572 GMO external memory access(/dev/exm0)
#allow zygote exm0_device:chr_file { read write ioctl open };

# Date : WK14.34
# Operation : Migration 
# Purpose : for CIP project (access /custom partition)
allow zygote custom_file:dir rw_dir_perms;
allow zygote custom_file:file create_file_perms;

# Date : WK14.34
# Operation : Migration 
# Purpose : for untrusted app to use ptrace (e.g. 360Mobile, taobao)
dontaudit zygote untrusted_app:process ptrace;

# Date : WK14.43
# Operation : SQC2
# Purpose : found in FST Auto Test (ALPS01774709)
allow zygote platform_app:fd use;


# Date : WK14.46
# Operation : SQC
# Purpose : found in sanity test (ALPS01825280)
allow zygote servicemanager:binder call;

# Date : WK14.49
# Operation : SQC
# Purpose : for isolated_app to use fd (ex: share image by gmail)
allow zygote isolated_app:fd use;

# Date : WK15.02
# Operation : SQC
# Purpose : for "theScore Sports & Scores" app to play video(ALPS01897019)
allow zygote untrusted_app:fd use;

# Date : WK15.08
# Operation : SQC
# Purpose : for TTLIA
allow zygote radio:fd use;

#============= zygote ==============
allow zygote cgroup:file create;
allow zygote init:unix_stream_socket connectto;
