# ==============================================
# MTK Policy Rule
# ==============================================

# New added for move to /system
type cmddumper_exec, exec_type, file_type;
typeattribute cmddumper coredomain;

init_daemon_domain(cmddumper)

# cmddumper  access on /data/mdlog
allow cmddumper system_data_file:dir { create_dir_perms relabelfrom relabelto};

# "mdl_serv_fifo" scontext=u:r:cmddumper:s0 tcontext=u:object_r:system_data_file
allow cmddumper system_data_file:fifo_file create_file_perms;


# for modem logging sdcard access
allow cmddumper sdcard_type:dir create_dir_perms;
allow cmddumper sdcard_type:file create_file_perms;

# modem logger socket access
allow cmddumper init:unix_stream_socket connectto;
allow cmddumper property_socket:sock_file { write read };
allow cmddumper platform_app:unix_stream_socket connectto;
allow cmddumper shell_exec:file { rx_file_perms };
allow cmddumper system_file:file x_file_perms;


# purpose: allow cmddumper to access storage in N version
allow cmddumper media_rw_data_file:file  { create_file_perms };
allow cmddumper media_rw_data_file:dir { create_dir_perms };

# purpose: access vmodem device
#allow cmddumper vmodem_device:chr_file { create_file_perms };

# purpose: access plat_file_contexts
allow cmddumper file_contexts_file:file { read getattr open };

# purpose: access /sys/devices/virtual/BOOT/BOOT/boot/boot_mode
allow cmddumper sysfs:file { read open };