# ==============================================
# Policy File of /system/bin/fuelgauged_static Executable File

# ==============================================
# Type Declaration
# ==============================================
type fuelgauged_static_exec , exec_type, file_type;
type fuelgauged_static_file, file_type, data_file_type, core_data_file_type;
typeattribute fuelgauged_static coredomain;
# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(fuelgauged_static)

# Data : WK14.43
# Operation : Migration
# Purpose : Fuel Gauge daemon for access driver node
allow fuelgauged_static input_device:dir rw_dir_perms;
allow fuelgauged_static input_device:file r_file_perms;


# Data : WK14.43
# Operation : Migration
# Purpose : For fg daemon can comminucate with kernel
### TBD, neverallowxperm on line 177 of system/sepolicy/public/domain.te
#allow fuelgauged_static fuelgauged_static:netlink_kobject_uevent_socket create_socket_perms;
#allow fuelgauged_static fuelgauged_static:netlink_socket create_socket_perms;
# Data : WK16.21
# Operation : New Feature
# Purpose : For fg daemon can access /data/FG folder
file_type_auto_trans(fuelgauged_static, system_data_file, fuelgauged_static_file);
allow fuelgauged_static fuelgauged_static_file:file rw_file_perms;
allow fuelgauged_static system_data_file:dir rw_dir_perms;

# Data : WK16.25
# Operation : Migration
# Purpose : For fg daemon can work in recovery mode
allow fuelgauged_static rootfs:file entrypoint;

# Data : WK16.39
allow fuelgauged_static self:capability { chown fsetid dac_override };
