# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK14.34
# Operation : Migration
# Purpose :  NA  
# Owner: Changqing Sun
allow netd kernel:system module_request;
allow netd self:capability sys_module;
allow netd self:capability fsetid;

# Date : WK14.34
# Operation : Migration
# Purpose :   APP 
allow netd platform_app:fd use;

# Date : WK14.37
# Operation : Migration
# Purpose :  PPPOE Test 
# Owner : lina wang
allow netd ppp:process sigkill;

# Date : WK14.44
# Operation : Migration
# Purpose : ALPS01789552
#============= netd ==============
allow netd self:capability { setuid setgid };

#============= netd ==============
allow netd untrusted_app:fd use;

# Date : W15.02
# Operation :  SQC
# Purpose :  CTS for wifi
allow netd untrusted_app:unix_stream_socket { read write getopt setopt};
allow netd isolated_app:fd use;
