# ==============================================
# MTK Policy Rule
# ==============================================



# Date : WK14.34
# Operation : Migration
# Purpose: for VPN

allow ppp init:unix_stream_socket connectto;
allow ppp property_socket:sock_file write;

# Date : WK14.37
# Operation : Migration
# Purpose: for PPPOE Test 

allow ppp devpts:chr_file { read write ioctl open setattr };
allow ppp self:capability { setuid net_raw setgid dac_override };
### TBD, neverallowxperm on line 177 of system/sepolicy/public/domain.te
#allow ppp self:packet_socket { write ioctl setopt read bind create };
allow ppp shell_exec:file { read execute open execute_no_trans };


# Date : WK14.37
# Operation : Migration
# Purpose: for PPPOE Test: Property permission

allow ppp net_radio_prop:property_service set;
allow ppp system_prop:property_service set; 


# Date : WK14.38
# Operation : Migration
# Purpose: for PPPOE Test 

allow ppp ppp_exec:file execute_no_trans;

# Date : WK14.53
# Operation : check in 
# Purpose: for warning kernel API 
allow ppp mtp:file read;
