# ==============================================
# Type Declaration
# ==============================================

type pre_meta_exec , exec_type, file_type;
typeattribute pre_meta coredomain;


# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(pre_meta)

# Date : WK16.15
# Operation : For reboot target to meta mode
# Purpose : for pre_meta daemon to access lk_env and reboot target
allow pre_meta block_device:dir search;
allow pre_meta property_socket:sock_file write;
allow pre_meta init:unix_stream_socket connectto;