# ==============================================
# MTK Policy Rule
# ==============================================
# Perform Binder IPC.
allow system_server zygote:binder impersonate;
# Property service.
allow system_server ctl_bootanim_prop:property_service set;
# After connected to DHCPv6, enabled 6to4 IPv6 AP to get property.
allow system_server proc_net:file w_file_perms;
# Querying zygote socket.
allow system_server zygote:unix_stream_socket { getopt getattr };
# Date : WK16.36
# Purpose: Allow to set property log.tag.WifiHW to control log level of WifiHW
allow system_server log_tag_prop:property_service set;
# Data : WK16.42
# Operator: Whitney bring up
# Purpose: call surfaceflinger due to powervr
allow system_server surfaceflinger:fifo_file rw_file_perms;

# Date : W16.42
# Operation : Integration
# Purpose : DRM / DRI GPU driver required
allow system_server gpu_device:dir search;
# Date : W18.01
# Add for turn on SElinux in enforcing mode
allow system_server vendor_framework_file:dir r_file_perms;

# Fix bootup violation
allow system_server vendor_framework_file:file getattr;

# Date: W18.32
# Operation : allow writing to timerslack_ns
allow system_server appdomain:file w_file_perms;

