# ==============================================
# MTK Policy Rule
# ==============================================

# volume manager

#============= vold ==============
allow vold debugfs_tracing:file write;
