# ==============================================
# Policy File of /system/bin/netdiag Executable File

# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

# Purpose : for getprop
get_prop(netdiag,appdetection_prop);
get_prop(netdiag,mtk_em_video_log_sf_postbuffer_prop);
