config RUNYEE_DOUBLE_IMGSENSOR
	tristate "enable RUNYEE_DOUBLE_IMGSENSOR driver"
	default n
	help
	  It support different sensor.
          If this option is set to m,
          it will build module.

source "drivers/misc/mediatek/imgsensor/src/double/main/Kconfig"
source "drivers/misc/mediatek/imgsensor/src/double/sub/Kconfig"          

