/* Fixes issues with templates-sdk on devsite */

/* indention for class inheritance */
.jd-inheritance-table .jd-inheritance-space {
  width: 1em;
}

/* header for known subclasses table */
.jd-sumtable td > span {
  display: inline-block;
  font-size: 1.15em;
  padding: 8px 8px 0 8px;
}
