on post-fs-data
#
# Connectivity related modules and character device nodes (Begin)
#

#/dev/ttyMT2 for Connectivity BT/FM/GPS usage
    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2

# GPS
    mkdir /data/gps_mnl 0771 gps system
    mkdir /data/misc/gps 0770 gps system
    chown gps gps /dev/stpgps
    chown gps gps /sys/class/gpsdrv/gps/pwrctl
    chown gps gps /sys/class/gpsdrv/gps/suspend
    chown gps gps /sys/class/gpsdrv/gps/state
    chown gps gps /sys/class/gpsdrv/gps/pwrsave
    chown gps gps /sys/class/gpsdrv/gps/status
    chmod 0660 /dev/stpgps

# GPS EMI
    chmod 666 /dev/gps_emi

# WiFi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wpa_supplicant 0770 wifi wifi

#
# Connectivity related device nodes & configuration (end)
#


on boot

#
# Connectivity related services (Begin)
#
# WMT
service wmt_loader /vendor/bin/wmt_loader
    user root
    group root
    oneshot

service wmt_launcher /vendor/bin/wmt_launcher -p /vendor/firmware/
    user system
    group system

# GPS
#service mnld /vendor/bin/mnld
#    class main
#    user gps
#    group gps inet misc sdcard_rw sdcard_r media_rw system radio
#    socket mnld stream 660 gps system

#service BGW /vendor/bin/BGW
#    user system
#    group gps system radio
#    class main

#
# Connectivity related services (End)
#

#
# Connectivity related kernel objects (Begin)
#

# load wmt_drv
on boot
    insmod /vendor/lib/modules/wmt_drv.ko

# load bt_drv
on property:service.wcn.driver.ready=yes
    insmod /vendor/lib/modules/bt_drv.ko

# load wifi chrdev driver and wlan driver after wmt_loader finish
on property:service.wcn.driver.ready=yes
    insmod /vendor/lib/modules/wmt_chrdev_wifi.ko
    insmod /vendor/lib/modules/wlan_drv_${ro.wlan.gen}.ko

# load fmradio_drv
on property:service.wcn.driver.ready=yes
    insmod /vendor/lib/modules/fmradio_drv.ko
    setprop fmradio_drv.ko 1

# load gps_drv
on property:service.wcn.driver.ready=yes
  insmod /vendor/lib/modules/gps_drv.ko
  setprop gps_drv.ko 1

#
# Connectivity related kernel objects (End)
#

