allow hal_bluetooth sysfs:file rw_file_perms;
allow hal_bluetooth sysfs_usb:file w_file_perms;

allow hal_bluetooth ttyHS0_device:chr_file rw_file_perms;
allow hal_bluetooth start_hci_filter:unix_stream_socket connectto;

set_prop(hal_bluetooth, wc_transport_prop)

# read /persist/bdaddr.txt
allow hal_bluetooth persist_file:dir search;
allow hal_bluetooth persist_file:file r_file_perms;
