# Allow wifi hal access to LOWI
allow hal_wifi location:unix_stream_socket connectto;
allow hal_wifi location_data_file:{ file fifo_file } create_file_perms;
allow hal_wifi location_data_file:dir rw_dir_perms;
allow hal_wifi location_data_file:sock_file create_file_perms;

# Allow wifi hal to read debug info from the driver.
r_dir_file(hal_wifi, proc_wifi_dbg)
