# Access to /dev/tee
allow hal_fingerprint tee_device:chr_file rw_file_perms;

# Read to /dev/input
allow hal_fingerprint input_device:dir r_dir_perms;
allow hal_fingerprint input_device:chr_file r_file_perms;

# for SW20.6 navigation
allow hal_fingerprint uhid_device:chr_file rw_file_perms;

# read clk_enable and wakeup_enable in /sys/devices/soc.0/f9966000.spi_fpc/
allow hal_fingerprint sysfs_devices_fingerprint:dir r_dir_perms;
allow hal_fingerprint sysfs_devices_fingerprint:file rw_file_perms;

# allow access to /persist
allow hal_fingerprint persist_file:dir search;

# allow access to sysfs files
r_dir_file(hal_fingerprint, sysfs_type)
