# Organized by frequency of systemcall - in descending order for
# best performance.
ioctl: 1
futex: 1
prctl: 1
write: 1
getpriority: 1
close: 1
dup: 1
mmap: 1
munmap: 1
openat: 1
mprotect: 1
madvise: 1
getuid: 1
fstat: 1
fstatfs: 1
read: 1
setpriority: 1
sigaltstack: 1
clone: 1
lseek: 1
newfstatat: 1
faccessat: 1
restart_syscall: 1
exit: 1
exit_group: 1
rt_sigreturn: 1
getrlimit: 1
nanosleep: 1

# for FileSource
readlinkat: 1

# for attaching to debuggerd on process crash
tgkill: 1
rt_sigprocmask: 1
rt_sigaction: 1
# socket: arg0 == AF_LOCAL
socket: arg0 == 1
connect: 1
recvmsg: 1
rt_tgsigqueueinfo: 1
writev: 1
geteuid: 1
getgid: 1
getegid: 1
getgroups: 1
getdents64: 1
pipe2: 1
ppoll: 1
getpid: 1
gettid: 1

# mtk add >>>
gettimeofday: 1
clock_gettime: 1
unlinkat: 1
# <<< mtk add
