type hal_dumpstate_impl, domain;
hal_server_domain(hal_dumpstate_impl, hal_dumpstate)

type hal_dumpstate_impl_exec, exec_type, file_type;
init_daemon_domain(hal_dumpstate_impl)

# Access to files for dumping
allow hal_dumpstate_impl proc_interrupts:file { open read };
allow hal_dumpstate_impl pstorefs:dir search;
allow hal_dumpstate_impl sysfs:file { open read };
