#access to /sys/devices/soc0/hw_platform and /sys/devices/soc0/soc_id
allow hal_gnss sysfs:file { read open getattr };

allow hal_gnss self:socket { create read write ioctl } ;
allowxperm hal_gnss self:socket ioctl { IPC_ROUTER_IOCTL_BIND_CONTROL_PORT
                                        IPC_ROUTER_IOCTL_LOOKUP_SERVER } ;
allow hal_gnss self:netlink_socket { create bind read };

allow hal_gnss sysfs_msm_subsys:dir { search read open };
allow hal_gnss sysfs_msm_subsys:lnk_file read;
