# communicate with camera
allow hal_camera camera:unix_dgram_socket sendto;
allow hal_camera camera_data_file:sock_file write;

# allow communication w/perfd
allow hal_camera perfd_data_file:dir search;
allow hal_camera perfd:unix_stream_socket connectto;
allow hal_camera perfd_data_file:sock_file write;
