type init-qcom-devwait-sh, domain;
type init-qcom-devwait-sh_exec, exec_type, file_type;

init_daemon_domain(init-qcom-devwait-sh)

allow init-qcom-devwait-sh shell_exec:file rx_file_perms;

# execute toybox/toolbox
allow init-qcom-devwait-sh toolbox_exec:file rx_file_perms;
