# /system/bin/init.radio.sh
type init-radio-sh, domain;
type init-radio-sh_exec, exec_type, file_type;

init_daemon_domain(init-radio-sh)

allow init-radio-sh shell_exec:file rx_file_perms;

allow init-radio-sh toolbox_exec:file rx_file_perms;

allow init-radio-sh radio_data_file:dir rw_dir_perms;
allow init-radio-sh radio_data_file:file create_file_perms;
