

# ==============================================
# MTK Policy Rule
# ==============================================


# Date: wk14.40
# Operation : SQC
# Purpose : [ALPS01756200] wwop boot up fail
allow appdomain custom_file:dir { search getattr open read };
allow appdomain custom_file:file { read open getattr};
