# ==============================================
# MTK Policy Rule for vendor
# ==============================================

# Date : WK15.46
# Operation : Migration
# Purpose : OpenDSP: read/write ipi message to tinysys
allow audioserver audio_ipi_device:chr_file { read write ioctl open };

# Date : WK14.37
# Operation : Migration
# Purpose : WFD and MET Latency measurement
allow audioserver media_wfd_prop:property_service set;
