# ==============================================
# MTK Policy Rule
# ==============================================

# Date: 2015/9/23
# Operation: Program binary service
# Purpose : Add permission for program binary service find from ServiceManager.
allow bluetooth program_binary_service:service_manager find;
