# ==============================================
# MTK Policy Rule
# ============

# Date : WK14.37
# Operation : Migration
# Purpose : for op
#allow bootanim terservice:binder call;

# Date : WK15.30
# Operation : Migration
# Purpose : for device bring up, not to block early migration/sanity
#allow bootanim terservice_service:service_manager find;
# Date : WK17.29
# Operation : Migration
# Purpose : for device bring up
allow bootanim guiext-server_service:service_manager find;