# ==============================================
# MTK Policy Rule
# ==============================================

# File types

# ==============================================
# MTK Policy Rule
# ==============================================

# CPUFREQ
# No needed, remove it
#type sysfs_cpu_freq, fs_type, sysfs_type, mlstrustedobject;
