# ==============================================
# MTK Policy Rule
# ============

# Date : WK15.33
# Operation : Migration
# Purpose : enable socket for ATCI
allow init socket_device:sock_file { create unlink setattr };

# Date : W15.34
# Operation : Migration
# Purpose : enable mtd device for ubi ioctl
allow init mtd_device:chr_file rw_file_perms;

# Date : W15.49
# Operation : Migration
# Purpose : enable rawfs file getattr
allow init rawfs:file getattr;

# Date : W16.28
# Operation : Migration
# Purpose : allow insert modules from rootfs
allow init rootfs:system module_load;
