# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK15.35
# Operation : Migration
# Purpose: Allow reador andgetattr path="/data/data/com.mediatek.voicecommand/training
# /unlock/passwordfile/0.dat"
allow mediaserver system_app_data_file:file { read getattr };

# Add by jackie.lin
# Date : WK16.10
# Operation : Move these sepolicy from basic to tk(full) which OMA DRM need
# Purpose : Allow mediaserver to read /proc/pid/cmdline to get process name, so that
# it can do white list check which is MTK OMA DRM additional protection mechanism
# system_app:
allow mediaserver system_app:dir search;
allow mediaserver system_app:file { read open getattr };
# platform_app:
allow mediaserver platform_app:dir search;
allow mediaserver platform_app:file { read open getattr };
# untrusted_app:
allow mediaserver untrusted_app:dir search;
allow mediaserver untrusted_app:file { read open getattr };

# Date : WK15.45
# Operation : 1/32x SlowMotion SQC
# Purpose : for Clearmotion LowPower Switch
allow mediaserver mjc_lib_prop:property_service set;
allow mediaserver mtk_mjc_prop:property_service set;

# Date : WK15.02
# Operation : 120Hz Feature SQC
# Purpose : for 120Hz Smart Switch
allow mediaserver mtk_rrc_device:chr_file { read write ioctl open };

# Date : WK14.39
# Operation : Migration
# Purpose : MJC Driver
allow mediaserver MJC_device:chr_file { read write ioctl open };

# Date : WK15.46
# Operation : Migration
# Purpose : OpenDSP: read/write ipi message to tinysys
allow mediaserver audio_ipi_device:chr_file { read write ioctl open };

# Date : WK14.37
# Operation : Migration
# Purpose : WFD and MET Latency measurement
allow mediaserver media_wfd_prop:property_service set;

# Date : WK16.34
# Operation : Migration
# Purpose : Play tone for alert
allow mediaserver custom_file:file {read getattr};

# Date : WK16.50
# Operation : Migration
# Purpose : Use aee API
allow mediaserver aee_aed:unix_stream_socket connectto;
