# ==============================================
# MTK Policy Rule
# ==============================================
#WK17.27
allow mtk_hal_camera mtk_hal_pq_hwservice:hwservice_manager find;

#WK17.28 camera binder_call permission
binder_call(mtk_hal_camera, system_server)