# ==============================================================================
# Type Declaration
# ==============================================================================
allow mtk_hal_power debugfs_tracing:file write;
allow mtk_hal_power proc_thermal:dir search;
# no needed, remove it
#allow mtk_hal_power sysfs_cpu_freq:file read;
