# ==============================================
# MTK Policy Rule
# ==============================================
# For MAL MFI
typeattribute rild mtkimsapdomain;
set_prop(rild, persist_mtk_main_attach)
# For MultiSim dynamic switch
set_prop(rild, usp_prop)
