# ==============================================
# MTK Policy Rule
# ==============================================
# For MAL MFI
typeattribute mtkrild mtkimsapdomain;
set_prop(mtkrild, persist_mtk_main_attach)

#=============allow Rild ctrl ePDG PDN interface prop=============
set_prop(mtkrild, ril_epdg_interface_ctrl_prop)
#=============allow Rild (NetAgent) call ip command=============
domain_auto_trans(mtkrild, netutils_wrapper_exec, netutils_wrapper)
