# ==============================================
# MTK Policy Rule
# ==============================================


# ==============================================
# Date      : 2015/10/16
# Operation : SQC
# Purpose   : Allow NFC to use system service
#============= nfc ==============
allow nfc program_binary_service:service_manager find;
