# ==============================================
# MTK Policy Rule 
# ==============================================

# Date : 2014/10/21
# Operation : SQC 
# Purpose : [ALPS01772746] Permission denied for backup App data
# Package: com.mediatek.backuprestore
# unix_socket_connect(platform_app, backuprestore, br_app_data_service);

# Date : 2014/09/23
# Operation : Migration
# Purpose : camera process need to read cpu temperature from /proc/mtktz/mtktscpu path
# Package: com.mediatek.camera
allow platform_app proc_mtktz:dir search;
allow platform_app proc_mtktz:file read;

# Date : 2014/09/26
# Operation : Migration
# Purpose : camera app need to r/w camera_isp_device file for lomo effect
# Package: com.mediatek.camera
allow platform_app camera_isp_device:chr_file rw_file_perms;

# Date : 2014/10/23
# Operation : Migration
# Purpose : stress suspend resume test
# Package: Suspend Resume
allow platform_app mtk_kpd_device:chr_file rw_file_perms;

# Date : WK14.46
# Operation : Migration
# Purpose : for MTK Emulator HW GPU
allow platform_app qemu_pipe_device:chr_file rw_file_perms;

# Date : 2015/08/20
# Operation : Migration
# Purpose : Allow mota app to find ota agent servive
# Package: com.android.systemupdate
allow platform_app ota_agent_service:service_manager find;

# Date : 2014/11/17
# Operation : Migration
# Purpose : Gallery needs to access video codec to encode motion track video
# Package: com.android.gallery3d
allow platform_app Vcodec_device:chr_file { read write ioctl open };

# Date : 2014/10/28
# Operation : Migration
# Purpose : [VoiceWakeup][allow VoiceCommand to do r/w for vow device]
# Package: com.mediatek.voicecommand
allow platform_app vow_device:chr_file rw_file_perms;

# Date: 2015/9/23
# Operation: Program binary service
# Purpose : Add permission for program binary service find from ServiceManager.
allow platform_app program_binary_service:service_manager find;

# Fix bootup violation
get_prop(platform_app,mtk_em_video_log_acodec_prop)
get_prop(platform_app,mtk_em_video_log_sf_postbuffer_prop)

allow platform_app debugfs_ion:dir search;
allow platform_app system_app_data_file:dir getattr;

# Date: 2017/07/14
# Stage: O Migration, SQC
# Purpose: Allow to use lomo effect
# Package: com.mediatek.camera
allow platform_app hal_camera_hwservice:hwservice_manager find;
allow platform_app mtk_hal_camera:binder call;

