# ==============================================
# MTK Policy Rule
# ==============================================

# Date: 2015/9/23
# Operation: Program binary service
# Purpose : Add permission for program binary service find from ServiceManager.
allow priv_app program_binary_service:service_manager find;

# Date: 2016/7/1
# Operation: SQC
# Purpose: Add permission to access files on SD card when sdcrdfs is enabled.
allow priv_app sdcard_type:dir create_dir_perms;
allow priv_app sdcard_type:file create_file_perms;

# Date: 2016/07/11
# Operation : Migration
# Purpose : Add permission for gpu access
allow priv_app dri_device:chr_file write;


# Date : WK16.36
# Operation : priv_app support direct-coredump abort message
# Purpose :
# avc: denied { write } for name="aee_interim" dev="dm-0" ino=8236
# scontext=u:r:priv_app:s0:c512,c768 tcontext=u:object_r:coredump_file:s0
# tclass=dir permissive=0
userdebug_or_eng(`
  allow priv_app coredump_file:dir { write };
')

# Date : WK17.26
# Stage: O Migration, SQC
# Purpose: Allow to use mtk telephony APIs (phoneEx)
allow priv_app mtk_radio_service:service_manager find;
