# ==============================================
# MTK Policy Rule
# ==============================================

#=============allow mediaserver to set mjc.lib.*==============
type mjc_lib_prop, property_type, mtk_core_property_type;

#=============allow mediaserver to set mtk.mjc.*==============
type mtk_mjc_prop, property_type, mtk_core_property_type;

#=============allow contrl ril3gd===========
type ctl_ril3gd_prop, property_type;

#=============allow contrl zpppd_gprs===========
type ctl_zpppdgprs_prop, property_type;
#=============allow program binary deamon  ==============
type program_binary_prop, property_type, mtk_core_property_type;

#=============allow MBIMD==============
type ctl_mbimd_prop, property_type;

#=============allow radio to set usb otg enable property  ==============
type usb_otg_switch, property_type, mtk_core_property_type;

#=============allow mtkril set ims property================
type persist_mtk_main_attach, property_type;

#=============allow Rild ctrl ePDG PDN interface prop=============
type ril_epdg_interface_ctrl_prop, property_type, mtk_core_property_type;

#=============allow system update to set prop=============
type update_finished_prop, property_type, mtk_core_property_type;
type update_started_prop, property_type, mtk_core_property_type;
