# ==============================================
# MTK Policy Rule
# ============

# Date : WK15.51 2015/12/19
# Operation : Adapt CMCC FT auto test tool[CMDC Tester] to MTK platform
# Purpose : for [CMDC Tester] run on user load
#allow radio radio_data_file:file { execute execute_no_trans };
allow radio media_rw_data_file:dir search;
allow radio proc_mtkcooler:dir search;
allow radio proc_mtktz:dir search;
allow radio md_monitor:dir search;
allow radio md_monitor:file { read open getattr};

# Date : WK16.09
# Operation : Migration for SWO policy package survey
allow radio sdcard_type:dir { write create add_name };
allow radio sdcard_type:file { read write getattr open create };
allow radio zygote:unix_stream_socket { getopt getattr };

# Date: wk14.40
# Operation : SQC
# Purpose : [ALPS01756200] wwop boot up fail
allow radio custom_file:dir { search getattr open read };
allow radio custom_file:file { read open getattr};
# Date : 2014/11/05
# Operation : IT
# Purpose : for IMS_RILA connect to rild_ims provided by mtkrild process

# Date : WK15.30
# Operation : Migration
# Purpose : for device bring up, not to block early migration/sanity
allow radio dm_agent_binder_service:service_manager find;

# Date: 2015/9/23
# Operation: Program binary service
# Purpose : Add permission for program binary service find from ServiceManager.
allow radio program_binary_service:service_manager find;

# Date : WK15.44 2015/11/2
# Operation : IT
# Purpose : for mbimd service property
allow radio ctl_mbimd_prop:property_service set;

# Date : WK15.51 2015/12/15
# Operation : SQC
# Purpose : for system app labled by radio to search file
allow radio system_app_data_file:dir search;

# Date : WK15.51 2015/12/19
# Operation : Adapt CMCC FT auto test tool[CMDC Tester] to MTK platform
# Purpose : for [CMDC Tester] run on user load
#allow radio radio_data_file:file { execute execute_no_trans };
allow radio media_rw_data_file:dir search;
allow radio proc_mtkcooler:dir search;
allow radio proc_mtktz:dir search;


# Date : WK16.25 2015/06/16
# Operation : IT
# Purpose : for setting usb otg enable property
allow radio usb_otg_switch:property_service set;



# Date : W1634 2016/8/16
# Operation : IT
# Purpose: Support configure check tool
# TODO:: work around and need to move to plat sepolicy
#allow radio atci_service_exec:file getattr;
#allow radio atcid_exec:file getattr;

# Date : W1649 2016/12/01
# Operation: SQC
# Purpose: CTSC Disable aee for mtbf test
allow radio aee_aed:unix_stream_socket connectto;

# Date : WK1727 2017/07/4
# Operation : IT
# Purpose: CTSC Access agprsInterface
hal_client_domain(radio,mtk_hal_lbs)
