# ==============================================
# MTK Policy Rule
# ============


# Date: wk14.40
# Operation : SQC
# Purpose : [ALPS01756200] wwop boot up fail
allow system_server custom_file:dir r_dir_perms;
allow system_server custom_file:file r_file_perms;

# Date: WK14.41
# Operation : Migration
# Purpose : boost thread to RT
allow system_server surfaceflinger:process { setsched getsched };



# Date : WK15.02
# Operation : 120Hz Feature SQC
# Purpose : for 120Hz Smart Switch
allow system_server mtk_rrc_device:chr_file rx_file_perms;

# Date : WK15.38
# Operation : Bug fix
# Purpose : Allow P2P framework to read MAC via nvram_agent_service
allow system_server nvram_agent_service:service_manager find;



# Date: W16.21
# Operation : Migration
# Purpose : Allow system server to read/write /sys/kernel/debug/binder/* for ANR mechanism
allow system_server debugfs_binder:file rw_file_perms;

# Date: W16.25
# Operation : Migration
# Purpose : Allow system server to read/write /d/ged/hal/* for GED operations
allow system_server debugfs_ged:dir rw_dir_perms;
allow system_server debugfs_ged:file rw_file_perms;




# Date:W16.34
# Operation : Migration
# Purpose : Allow system server to read /sys/kernel/debug/shrinker for memory debugging information
allow system_server debugfs_shrinker_debug:file r_file_perms;

# Date: W16.42
# Operation : new feature
# Purpose : Allow system_server's watchdog thread send sig 9 to surfacelinger process when surfacelinger hang
allow system_server surfaceflinger:process sigkill;

# Date:W16.46
# Operation : LWX Feature developing
# Purpose : LWX ccci interface permission
allow system_server ccci_device:chr_file rw_file_perms;
allow system_server sysfs_ccci:dir search;
allow system_server sysfs_ccci:file { open read };

# Date: WK17.10
# Operation : Migration
# Purpose : for system_server operate /dev/RT_Monitor when enable hang detect
allow system_server RT_Monitor_device:chr_file r_file_perms;

# Fix bootup violation
allow system_server mtk_em_video_log_acodec_prop:file { read getattr open };
allow system_server mtk_em_video_log_sf_postbuffer_prop:file { read getattr open };


# Date : W17.26
# Purpose: Allow to use phoneEx
allow system_server mtk_radio_service:service_manager find;

# Date : W17.31
# Purpose: ViLTE allow to use HiDL fd
allow system_server vendor_framework_file:file r_file_perms;
