# ==============================================
# Policy File of /system/bin/terservice Executable File


# ==============================================
# MTK Policy Rule
# ==============================================

# ccci ioctl
allow terservice ccci_device:chr_file { read write ioctl open };
allow terservice sysfs_ccci:dir { r_dir_perms };
allow terservice sysfs_ccci:file { r_file_perms };
