# ==============================================
# MTK Policy Rule
# ==============================================

# Date : 2015/10/12
# Operation : Testing with third party, e.g. Hugeland
# Purpose : Allow third party app connects to md_monitor's local socket
allow untrusted_app md_monitor:unix_stream_socket connectto;

# Date : WK14.46
# Operation : Migration
# Purpose : for MTK Emulator HW GPU
allow untrusted_app qemu_pipe_device:chr_file rw_file_perms;

# CTS issue
allow untrusted_app proc_lk_env:file getattr;
allow untrusted_app proc_sysrq:file getattr;
allow untrusted_app sdcard_type:file execute;
allow untrusted_app protect_f_data_file:dir getattr;
allow untrusted_app protect_s_data_file:dir getattr;

# Date : WK15.48
# Operation : Stress Test
# Purpose : allow test APK to use MediaScannerService
allow untrusted_app storage_stub_file:dir getattr;

# Date : 2014/10/27
# Operation : SQC
# Purpose : [ALPS01785313] Permission denied for dump hprof
# Package: com.android.gallery3d
# allow untrusted_app anr_data_file:file rw_file_perms;

# Date: 2015/9/23
# Operation: Program binary service
# Purpose : Add permission for program binary service find from ServiceManager.
allow untrusted_app program_binary_service:service_manager find;

# CPUFREQ
# no needed, remove it
#allow untrusted_app sysfs_cpu_freq:file read;

# Date: 2017/07/20
# Operation: Mtk radio service
# Purpose : Add permission for mtk radio service find from ServiceManager.
allow untrusted_app mtk_radio_service:service_manager find;

