service mediacodec /vendor/bin/hw/android.hardware.media.omx@1.0-service
    class main
    user mediacodec
    group camera drmrpc mediadrm media system audio media_rw sdcard_rw
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks
