# ==============================================
# Policy File of /system/bin/batterywarning Executable File


# ==============================================
# Type Declaration
# ==============================================

type batterywarning_exec , exec_type, file_type;
type batterywarning ,domain;
# New added for move to /system
typeattribute batterywarning coredomain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(batterywarning)

# Date : 2014/10/15
# Operation : Migration
# Purpose : all Binder IPC for battery warning to call IActivityManager to send broadcast
binder_use(batterywarning)

# Date : 2014/10/16
# Operation : Migration
# Purpose : allow battery warning use AMS to send broadcast through binder call
allow batterywarning system_server:binder call;

# Date : 2015/07/27
# Operation : Migration
# Purpose : allow battery warning check AMS service status
allow batterywarning activity_service:service_manager find;

# Date : 2017/07/03
# Operation : Migration
# Purpose : allow battery warning read file
allow batterywarning sysfs:file { open read getattr };
