# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK17.29
# Operation : Migration
# Purpose : for aee dump systemAPI db, get backtrace
allow domain aee_aed:process sigchld;
