# ATCI socket types
type atci_serv_fw_socket, file_type;
type atci_audio_socket, file_type;
type atci_service_socket, file_type;
type adb_atci_socket, file_type;

# ATCI data file
type atci_data_file, file_type, data_file_type, core_data_file_type;

#md monitor data file
type md_monitor_data_file, file_type, data_file_type, core_data_file_type;
