# ==============================================
# Policy File of /system/bin/guiext-server Executable File

# ==============================================
# MTK Policy Rule
# ==============================================
# Type Declaration
# ==============================================
type guiext-server_exec, exec_type, file_type, vendor_file_type;

typeattribute guiext-server coredomain;

init_daemon_domain(guiext-server)

# for bqdump and conversion pool
binder_service(guiext-server)
binder_use(guiext-server)

binder_call(guiext-server, binderservicedomain)
binder_call(guiext-server, appdomain)
