# ==============================================
# Policy File of /system/bin/mmp Executable File 


# ==============================================
# Type Declaration
# ==============================================

type mmp_exec , exec_type, file_type;
type mmp ,domain;

typeattribute mmp coredomain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(mmp)

