# ==============================================
# MTK Policy Rule 
# ==============================================

# Date : 2014/10/28
# Operation : hs_xiangxu
# Purpose : [ALPS01782971]Settings need read&write to system_app_data_file
# Package: com.android.settings
allow platform_app system_app_data_file:file {read write};

# Date : 2015/10/13
# Operation : md_monitor IT
# Purpose : Allow platform app connects to md_monitor's local socket
# Package: com.mediatek.mdmlsample
allow platform_app md_monitor:unix_stream_socket connectto;

# Date : 2015/08/17
# Operation : Migration
# Purpose : Allow ppl agent app to find ppl agent servive
# Package: com.android.systemui
allow platform_app ppl_agent_service:service_manager find;