#=============allow atcid==============
type ctl_atcid-daemon-u_prop, property_type;
type ctl_atci_service_prop, property_type;

#=============allow md_init property==============
type mdmmonitor_prop, property_type;
