# ==============================================
# MTK Policy Rule
# ============

# Date : WK14.48
# Purpose : unknown
allow sdcardd platform_app:fd use;
allow sdcardd untrusted_app:fd use;

# Date : WK15.38
# Operation : Migration
# Purpose : for M migration SQC
typeattribute sdcardd mlstrustedsubject;

# Date : WK17.14
# Operation : SD card format to internal storage
# Purpose : for N1 SQC
allow sdcardd sdcardfs:dir mounton;