# ==============================================
# MTK Policy Rule
# ==============================================

# Other Services
type aal_service, service_manager_type;
type mtk_connmetrics_service, service_manager_type;
