# ==============================================
# MTK Policy Rule
# ============
# Date : WK14.XX
# Operation : Migration
# Purpose : for exec labels defined by mtk
allow shell GoogleOtaBinder_exec:file rx_file_perms;
allow shell thermald_exec:file rx_file_perms;

# Date : WK29.XX
# Operation : Migration
# Purpose : for exec labels defined by mtk
allow shell mobile_log_d_exec:file rx_file_perms;
allow shell sn_exec:file rx_file_perms;
allow shell mdlogger_exec:file rx_file_perms;
allow shell emdlogger_exec:file rx_file_perms;
allow shell netdiag_exec:file rx_file_perms;
allow shell batterywarning_exec:file rx_file_perms;
allow shell sysfs:file getattr;
allow shell factory_exec:file rx_file_perms;
