# ==============================================
# Policy File of /system/binsn Executable File


# ==============================================
# Type Declaration
# ==============================================

type sn_exec , exec_type, file_type;
type sn ,domain;

# New added for move to /system
typeattribute sn coredomain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(sn)

# Date : WK14.31
# Operation : Migration
# Purpose : for L early bring up
allow sn sdcard_type:dir search;
allow sn sdcard_type:file { read getattr open };
allow sn sysfs:file rw_file_perms;
#allow sn tmpfs:lnk_file read;
allow sn self:capability { dac_read_search dac_override };
allow sn mnt_user_file:dir search;
allow sn mnt_user_file:lnk_file read;
#allow sn storage_file:dir search;
allow sn storage_file:lnk_file read;
# Date : WK16.32
# Operation : SQC
# Purpose : for sn service access serial number file
allow sn media_rw_data_file:dir search;
allow sn media_rw_data_file:file { open read };

# Date : WK17.01
# Operation : SQC
# Purpose : for ATCI service access serial number file
allow sn media_rw_data_file:dir { read open };
