# ==============================================
# MTK Policy Rule
# ============
# ==============================================
# Type Declaration
# ==============================================
type usp_service_exec , exec_type, file_type;
typeattribute usp_service coredomain;
# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(usp_service)

allow usp_service block_device:dir search;
set_prop(usp_service, radio_prop)
