# =============================================+
# Type Declaration
# ==============================================

type aee_aedv_exec, exec_type, file_type, vendor_file_type;
typeattribute aee_aedv mlstrustedsubject;

init_daemon_domain(aee_aedv)

