# ==============================================
# MTK Policy Rule
# ============

# Date : WK14.31
# Operation : Migration
# Purpose : For IPC communication
### TBD, neverallowxperm on line 177 of system/sepolicy/public/domain.te
#allow bootanim self:netlink_socket create_socket_perms;

# Date : WK14.32
# Operation : Migration
# Purpose : for playing boot tone
allow bootanim mediaserver:binder {call transfer};
allow bootanim mediaserver_service:service_manager find;

# Purpose : for playing bootanimation audio
allow bootanim audioserver:binder {call transfer};
allow bootanim audioserver_service:service_manager find;

# Date : WK14.37
# Operation : Migration
# Purpose : for opetator
allow bootanim property_socket:sock_file write;
allow bootanim init:unix_stream_socket connectto;
allow bootanim debug_prop:property_service set;

# Date : WK14.46
# Operation : Migration
# /data/resource-cache
allow bootanim resourcecache_data_file:dir search;
allow bootanim resourcecache_data_file:file { read getattr open };

# Data : WK16.42
# Operator: Whitney bring up
# Purpose: call surfaceflinger due to powervr
allow bootanim surfaceflinger:fifo_file rw_file_perms;

# Date : W16.42
# Operation : Integration
# Purpose : DRM / DRI GPU driver required

allow bootanim gpu_device:dir search;



#============= bootanim ==============
allow bootanim debugfs_tracing:file write;

#============= bootanim ==============
allow bootanim debugfs_tracing:file open;
