# ==============================================
# MTK Policy Rule
# ============

# Date :WK14.34
# Operation : Migration
# Purpose: for connecting Wifi
allow dhcp devpts:chr_file rw_file_perms;


# Date :WK14.41
# Operation : ALPS01757300
# Purpose: connect AP, using for wifi connect 
allow dhcp kernel:system module_request;


# Date :WK14.44
# Operation : ALPS01798575
# Purpose: Search on Internet using browser, the 3th App use dhcp
#============= netd ==============
allow dhcp platform_app:fd use;

allow dhcp init:fifo_file rw_file_perms;
allow dhcp init:unix_stream_socket { read write };

allow dhcp untrusted_app:fd use;
