# Date : WK17.13
# Operation : Add sepolicy
# Purpose : Add policy for gralloc HIDL

allow hal_graphics_allocator proc:file { read getattr open ioctl };