
# insmod LKM under /odm or /vendor
allow init self:capability sys_module;
allow init system_file:system module_load;

# boot process denial clean up
allow init debugfs_tracing:dir write;
allow init debugfs_tracing:file write;
allow init sysfs_devices_system_cpu:file relabelfrom;
