# ==============================================
# MTK Policy Rule 
# ==============================================

# SEPolicy Split

allow platform_app system_app_service:service_manager find;
allow platform_app init:unix_stream_socket connectto;

# Date : WK17.29
# Stage: O Migration, SQC
# Purpose: Allow to use selinux for hal_power
hal_client_domain(platform_app, hal_power)
