# Purpose : Nand device policy
allow recovery mtd_device:dir search;
allow recovery mtd_device:chr_file { read write open ioctl getattr };
allow recovery self:capability sys_resource;

allow recovery system_app_data_file:dir {search };
#allow recovery system_app_data_file:file {read open};
