
config CUSTOM_KERNEL_RECEIVER
	bool "CUSTOM_KERNEL_RECEIVER"
	help
	  ir receiver sensor driver

source "drivers/misc/mediatek/receiver/vs838/Kconfig"
config MTK_RECEIVER_VS838
	bool "MTK_RECEIVER_VS838"
	default n
	help
	  It support different receiver sensor.
          If this option is set,
	  it will support
          MTK_RECEIVER_VS838 sensor.
