# Temporarily allow access to /vendor libraries to not break bluetooth, but
# this must be fixed. (TODO: b/36570346)
# Bluetooth app depend on /vendor/lib64/libaptX_encoder.so

allow bluetooth vendor_file:file { r_file_perms execute };
