# /sys/devices/soc/900000.qcom,mdss_mdp/caps
# Needed to determine display-compatable buffer formats.
allow bufferhubd sysfs_mdss_mdp_caps:file r_file_perms;
