type at_device, dev_type;
type audio_cal_device, dev_type;
type avtimer_device, dev_type;
type diag_device, dev_type, mlstrustedobject;
type ramdump_device, dev_type;
type sdsprpc_device, dev_type;
type sg_device, dev_type;
type ssr_device, dev_type;
type thermal_device, dev_type;
type pta_device, dev_type;

type custom_ab_block_device, dev_type;
type xbl_block_device, dev_type;
type gpt_block_device, dev_type;
type modem_block_device, dev_type;
type ssd_block_device, dev_type;
type persist_block_device, dev_type;

type ramdump_block_device, dev_type;
