allow hal_audio perfd:unix_stream_socket connectto;
allow hal_audio perfd_data_file:dir search;
allow hal_audio perfd_data_file:sock_file write;

allow hal_audio audio_cal_device:chr_file rw_file_perms;
r_dir_file(hal_audio, sysfs_soc)

userdebug_or_eng(`
  allow hal_audio diag_device:chr_file rw_file_perms;
')
