# communicate with perfd
allow hal_drm perfd_data_file:dir search;
allow hal_drm perfd:unix_stream_socket connectto;
allow hal_drm perfd_data_file:sock_file write;
