allow hal_power perfd:unix_stream_socket connectto;
allow hal_power perfd_data_file:dir search;
allow hal_power perfd_data_file:sock_file write;

allow hal_power sysfs_soc:dir search;
allow hal_power sysfs_soc:file { open read };

# debugfs entries are only needed in user-debug or eng builds
allow hal_power debugfs_rpm:file r_file_perms;

allow hal_power debugfs_wlan:dir r_dir_perms;
allow hal_power debugfs_wlan:file r_file_perms;

