allow hal_contexthub sensors_device:chr_file rw_file_perms;

allow hal_contexthub sensor_vendor_data_file:dir create_dir_perms;
allow hal_contexthub sensor_vendor_data_file:file create_file_perms;
allow hal_contexthub nanohub_lock_file:file create_file_perms;
