# connect to the UART
allow hal_bluetooth wcnss_filter:unix_stream_socket connectto;

# wc_transport.start_hci and friends
set_prop(hal_bluetooth, wc_prop)

# talk to system_server to set priority
allow hal_bluetooth fwk_scheduler_hwservice:hwservice_manager find;
allow hal_bluetooth system_server:binder call;
