# The Qualcomm DRM-HAL implementation uses a vendor-binder service provided
# by the HWC HAL.
vndbinder_use(hal_drm_default);
allow hal_drm_default qdisplay_service:service_manager { find };
binder_call(hal_drm_default, hal_graphics_composer)
