#integrated sensor process
type imscm, domain;
type imscm_exec, exec_type, vendor_file_type, file_type;

# Started by init
init_daemon_domain(imscm)

# TODO(b/36569719): Remove this once imscm stops using Binder
typeattribute imscm binder_in_vendor_violators;
binder_use(imscm)

allow imscm imscm_service:service_manager add;
allow imscm sysfs:dir r_dir_perms;
r_dir_file(imscm, sysfs_msm_subsys)
