type init_mid, domain;
type init_mid_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(init_mid)

allow init_mid vendor_shell_exec:file rx_file_perms;
allow init_mid vendor_toolbox_exec:file rx_file_perms;

set_prop(init_mid, hw_sku_prop);
get_prop(init_mid, mid_prop);
