
r_dir_file(kernel, firmware_file)
# ipc
allow kernel debugfs_ipc:dir search;

# for diag over socket
userdebug_or_eng(`
  allow kernel self:socket create;
')
userbuild(`
  dontaudit kernel self:socket create;
')
