# Policy for /vendor/bin/nanohub_slpi
type nanohub_slpi, domain;
type nanohub_slpi_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(nanohub_slpi)

allow nanohub_slpi sdsprpc_device:chr_file rw_file_perms;
allow nanohub_slpi ion_device:chr_file r_file_perms;
allow nanohub_slpi system_file:dir r_dir_perms;
