allow netd sysfs_net:dir search;
allow netd sysfs_net:file w_file_perms;

# in addition to ioctl commands granted to domain allow netd to use:
allowxperm netd self:udp_socket ioctl { SIOCSIFFLAGS SIOCSIFADDR SIOCGIFHWADDR };

# Enable XTRA downloads
allow netd location:fd use;
allow netd location:tcp_socket { getopt read setopt write };
