allow platform_app vnd_qcril_audio_hwservice:hwservice_manager find;
binder_call(platform_app, rild);

userdebug_or_eng(`

   # qxdmlogger rundiag perms
   allow platform_app ramdump_data_file:dir { getattr open read remove_name rmdir search write };
   allow platform_app ramdump_data_file:file { getattr open read unlink write };
   dontaudit platform_app proc_sysrq:file getattr;
   dontaudit platform_app proc_iomem:file getattr;
')
