allowxperm priv_app self:udp_socket ioctl { SIOCGIWESSID };

r_dir_file(priv_app, sysfs_type)

# Clean up logspam
dontaudit priv_app device:dir read;
dontaudit priv_app proc_interrupts:file read;
dontaudit priv_app proc_modules:file read;
dontaudit priv_app firstboot_prop:file read;
