type camera_prop, property_type;
type sensors_prop, property_type;
type wc_prop, property_type;
type hw_sku_prop, property_type;
type mid_prop, property_type;
type ssr_prop, property_type;
type cnss_diag_prop, property_type;
type thermal_prop, property_type;
type ramdump_prop, property_type;
type sys_time_prop, property_type;
type post_boot_prop, property_type;
type bluetooth_log_prop, property_type;
