# CNEService app
type qcneservice, domain, coredomain;

app_domain(qcneservice)
net_domain(qcneservice)

add_service(qcneservice, cne_service)

unix_socket_connect(qcneservice, cnd, cnd)

allow qcneservice { app_api_service radio_service }:service_manager find;

# Read and write /data/data subdirectory.
allow qcneservice system_app_data_file:dir create_dir_perms;
allow qcneservice system_app_data_file:{ file lnk_file } create_file_perms;
