type smlog_dump_exec, exec_type, vendor_file_type, file_type;

type smlog_dump, domain;
allow smlog_dump smlog_dump_file:dir r_dir_perms;
allow smlog_dump smlog_dump_file:file create_file_perms;
r_dir_file(smlog_dump, sysfs_uio)
r_dir_file(smlog_dump, sysfs_rmtfs)
