userdebug_or_eng(`
  allow surfaceflinger diag_device:chr_file rw_file_perms;
')

# misc
allow surfaceflinger display_data_file:dir create_dir_perms;
allow surfaceflinger display_data_file:file create_file_perms;

# persist
allow surfaceflinger persist_file:dir search;

# persist/display
allow surfaceflinger persist_display_file:dir r_dir_perms;
allow surfaceflinger persist_display_file:file create_file_perms;
