allow ueventd sysfs_camera:file w_file_perms;
allow ueventd sysfs_fingerprint:file w_file_perms;
allow ueventd sysfs_leds:file w_file_perms;
allow ueventd sysfs_msm_core:file w_file_perms;
allow ueventd sysfs_msm_subsys:file w_file_perms;
allow ueventd sysfs_nanoapp_cmd:file w_file_perms;
allow ueventd sysfs_net:file w_file_perms;
allow ueventd sysfs_pcie:file w_file_perms;
allow ueventd sysfs_rmtfs:file w_file_perms;
allow ueventd sysfs_soc:file w_file_perms;
allow ueventd sysfs_thermal:file w_file_perms;
allow ueventd sysfs_video:file w_file_perms;

# /system/core/init/device.cpp catches uevents from /firmware
r_dir_file(ueventd, firmware_file)
