# Read the sysfs to lookup what /dev/sgN device
# corresponds to the XBL partitions.
allow update_verifier sysfs:file r_file_perms;
allow update_verifier sysfs:dir r_dir_perms;
