# Temporarily allow wificond to read and execute /vendor libs only for marlin/sailfish.
# TODO: b/36697996
# wificond depends on /vendor/lib64/libwpa_client.so
allow wificond vendor_file:dir { getattr search };
allow wificond vendor_file:file { r_file_perms execute };
