# ==============================================
# Policy File of /system/bin/terservice Executable File


# ==============================================
# Type Declaration
# ==============================================

type terservice ,domain;
