

type fingerprint_device, dev_type;

binder_call(system_app, hal_fingerprint_default);
binder_call(hal_fingerprint_default, system_app);


allow hal_fingerprint_default fingerprint_device:chr_file rw_file_perms;
allow hal_fingerprint_default self:netlink_socket create_socket_perms_no_ioctl;
allow hal_fingerprint_default self:unix_stream_socket { connectto };
allow hal_fingerprint_default mobicore_user_device:chr_file rw_file_perms;
allow hal_fingerprint_default mobicore_user_device:unix_stream_socket { connectto };
allow hal_fingerprint_default mobicore:unix_stream_socket { connectto };
allow hal_fingerprint_default tmpfs:chr_file rw_file_perms;
allow factory fingerprint_device:chr_file rw_file_perms;
allow factory tmpfs:chr_file rw_file_perms;
allow factory self:netlink_socket create_socket_perms_no_ioctl;

#for debug

allow hal_fingerprint_default debugfs_trace_marker:file rw_file_perms;

# allow TEE
allow hal_fingerprint_default tee_device:chr_file rw_file_perms;

# goodix service
#allow com.goodix.FingerprintService default_android_service:service_manager { add };



