# add for gps emi download platform

allow mnld gps_emi_device:chr_file rw_file_perms;
allow mnld storage_file:lnk_file read;
allow mnld mnt_user_file:dir search;