# ==============================================
# Policy File of /system/bin/kpoc_charger Executable File

# ==============================================
# Type Declaration
# ==============================================
type kpoc_charger, domain;
