# ==============================================
# MTK Policy Rule
# ==============================================
type mtk_anrmanager_service, app_api_service, system_server_service, service_manager_type;

# Other Services
type mtk_advcamserver_service,  service_manager_type;
type dm_agent_binder_service, service_manager_type;

# System Server Services
type mtk_mobile_service, app_api_service, system_server_service, service_manager_type;
type mtk_msg_monitor_service, app_api_service, system_server_service, service_manager_type;
type mtk_perf_service, app_api_service, system_server_service, service_manager_type;
type mtk_epdg_service, app_api_service, system_server_service, service_manager_type;
type mtk_rns_service, app_api_service, system_server_service, service_manager_type;
type mtk_registry_service, app_api_service, service_manager_type;
type mtk_phonesubinfo_service, app_api_service, service_manager_type;
type mtk_radio_service, service_manager_type;
type mtk_telecom_service, app_api_service, system_server_service, service_manager_type;
type mtk_simphonebook_service, app_api_service, service_manager_type;
type mtk_data_shaping_service, app_api_service, system_server_service, service_manager_type;
type mtk_search_engine_service, app_api_service, system_server_service, service_manager_type;

# Other Services
type guiext-server_service, service_manager_type;
type ota_agent_service, service_manager_type;
type gas_srv_service, service_manager_type;
type fpspolicy-server_service, service_manager_type;
type mtk_appdetection_service, app_api_service, system_server_service, service_manager_type;
type mtk_carrierexpress_service, app_api_service, service_manager_type;
type vtservice_service, service_manager_type;
type vtservice_hidl_service, service_manager_type;
type ppl_agent_service, service_manager_type;
