# ==============================================
# Policy File of /system/bin/thermald Executable File


# ==============================================
# Type Declaration
# ==============================================
type thermald ,domain;


