# ==============================================
# Policy File of /system/bin/usp_service Executable File

# ==============================================
# Type Declaration
# ==============================================
type usp_service ,domain;
