<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (C) 2016 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.content.pm.cts.shortcutmanager.throttling">

    <!-- BG services will stop working on O, so set target to 25. -->
    <uses-sdk android:minSdkVersion="25" android:targetSdkVersion="25" />

    <application>
        <receiver
            android:name="ShortcutManagerThrottlingTestReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.pm.cts.shortcutmanager.ACTION_THROTTLING_TEST" />
            </intent-filter>
        </receiver>

        <activity android:name=".MyActivity" />

        <service android:name=".BgService" />

        <service android:name=".FgService" />

        <receiver android:name=".InlineReply" />
    </application>
</manifest>

