# ==============================================
# Policy File of /system/bin/terservice Executable File


# ==============================================
# Type Declaration
# ==============================================

type terservice_exec , exec_type, file_type;
# New added for move to /system
typeattribute terservice coredomain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(terservice)

# Date : 2014/09/18 (WK14.38)
# Operation : Migration
# Purpose : allow register terservice service in servicemanager.
allow terservice terservice_service:service_manager add;

# property service
set_prop(terservice, terservice_prop)

# ipc call
binder_use(terservice)
binder_service(terservice)


