# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK15.02
# Purpose : fsck_msdos
allow vold platform_app:fd use;

#install APK move to SD
allow vold block_device:file create;

#Date : WK15.11
allow vold mtd_device:dir search;
allow vold mtd_device:chr_file { read write open };

# Date : WK17.28
# Purpose : write bootprof
allow vold proc:file write;

# Date : WK17.28
# Purpose : encrypt phone
allow vold kernel:system module_request;