# ==============================================
# Policy File of /system/bin/atcid Executable File
# ==============================================

# ==============================================
# Type Declaration
# ==============================================
type atcid_exec, exec_type, file_type;
typeattribute atcid coredomain;

# ==============================================
# MTK Policy Rule
# ==============================================
init_daemon_domain(atcid)
allow atcid sysfs:file { read open };
allow atcid self:capability dac_override;
allow atcid init:unix_stream_socket connectto;
allow atcid property_socket:sock_file write;
allow atcid atci_service:unix_stream_socket connectto;
allow atcid atci_service_socket:sock_file write;
allow atcid atci_audio_socket:sock_file write;
allow atcid system_prop:property_service set;
allow atcid block_device:dir search;
allow atcid self:capability { net_admin net_raw };
allow atcid self:udp_socket { create ioctl };
allow atcid shell_exec:file execute;
allow atcid socket_device:sock_file write;
allow atcid shell_exec:file { read open };
allow atcid shell_exec:file execute_no_trans;
allow atcid system_file:file execute_no_trans;
allow atcid self:rawip_socket create;
allow atcid self:rawip_socket getopt;
allow atcid self:rawip_socket setopt;

# Date : WK17.21
# Purpose: Allow to use HIDL
hwbinder_use(atcid)
hal_client_domain(atcid, hal_telephony)
