# ==============================================
# Policy File of /system/bin/dm_agent_binder Executable File 


# ==============================================
# Type Declaration
# ==============================================

type dm_agent_binder_exec , exec_type, file_type;
typeattribute dm_agent_binder coredomain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(dm_agent_binder)

# Date : WK14.37
# Operation : access DmAgent by binder 
# Purpose : ensure can access DmAgent api normally.
allow dm_agent_binder dm_agent_binder_service:service_manager add;

# Date : WK14.37
# Operation : access DmAgent by binder 
# Purpose : ensure can access DmAgent api normally.
binder_use(dm_agent_binder)
binder_service(dm_agent_binder)

# Date : WK14.42
# Operation : Basic UT 
# Purpose : Allow DmAgent access block_device.
allow dm_agent_binder block_device:dir search;


# Date : WK14.42
# Operation : Basic UT 
# Purpose : Allow DmAgent write sock_file.
allow dm_agent_binder property_socket:sock_file write;

# Date : WK14.42
# Operation : Basic UT 
# Purpose : Allow DmAgent connectto unix_stream_socket.
allow dm_agent_binder init:unix_stream_socket connectto;

# Date : WK14.43
# Operation : Basic UT 
# Purpose : Allow DmAgent to access cache_file.
allow dm_agent_binder cache_file:dir { w_dir_perms create }; 

# Date : WK14.43
# Operation : Basic UT 
# Purpose : Allow DmAgent to access cache_file.
allow dm_agent_binder cache_file:file { create_file_perms };

# Date : WK16.28
# Operation : N0-Migration IT
# Purpose : permission to read write fstab file in root
allow dm_agent_binder kmsg_device:chr_file { write read open ioctl };

# Date : WK17.06
# Operation : N0-Alaska IT
# Purpose : permission to override dac capability
allow dm_agent_binder dm_agent_binder:capability dac_override;
# Date : WK17.29
# Operation : O0-Denali IT
# Purpose : permission to read system data file
allow dm_agent_binder system_data_file:lnk_file read;