# ==============================================
# Policy File of /system/bin/GoogleOtaBinder Executable File 


# ==============================================
# Type Declaration
# ==============================================

type GoogleOtaBinder_exec , exec_type, file_type;
typeattribute GoogleOtaBinder coredomain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

#permissive GoogleOtaBinder;
init_daemon_domain(GoogleOtaBinder)
#unconfined_domain(GoogleOtaBinder)

# Date : 2014/09/10
# Operation : Migration
# Purpose : allow Binder IPC
binder_use(GoogleOtaBinder)
binder_service(GoogleOtaBinder)

allow GoogleOtaBinder block_device:dir search;
#for kmsg
allow GoogleOtaBinder kmsg_device:chr_file { write read open ioctl};
#for nand
allow GoogleOtaBinder mtd_device:dir search;
allow GoogleOtaBinder mtd_device:chr_file { read write open rw_file_perms};
#to get offset
allow GoogleOtaBinder ota_package_file:dir search;
allow GoogleOtaBinder ota_package_file:file { getattr open read write };
allow GoogleOtaBinder self:capability { dac_override dac_read_search };
allow GoogleOtaBinder proc:file read;
allow GoogleOtaBinder sysfs:file read;

