# ==============================================
# Policy File of /system/bin/meta_tst Executable File

# ==============================================
# MTK Policy Rule
# ==============================================

#Date: W17.48
#Purpose : meta connect with ATCI by socket.
allow meta_tst adb_atci_socket:sock_file write;
