# ==============================================
# Policy File of /system/bin/mtk_advcamserver Executable File
# ==============================================
# Type Declaration
# ==============================================
type mtk_advcamserver_exec , exec_type, file_type;
# New added for move to /system
typeattribute mtk_advcamserver coredomain;

# permissive mtk_advcamserver;
# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(mtk_advcamserver)

binder_use(mtk_advcamserver)
hwbinder_use(mtk_advcamserver)
binder_call(mtk_advcamserver, mtk_advcamserver)
binder_service(mtk_advcamserver)
binder_call(mtk_advcamserver, binderservicedomain)
binder_call(mtk_advcamserver, appdomain)

allow mtk_advcamserver mtk_advcamserver_service:service_manager { add find };
allow mtk_advcamserver hal_camera_hwservice:hwservice_manager { find };
allow mtk_advcamserver hwservicemanager_prop:file r_file_perms;

