# ==============================================
# MTK Policy Rule
# ==============================================


# Date : WK14.41
# Operation : Migration
# Purpose :  ipv6 Tethering Test 
#============= netd ==============
allow netd dhcp_data_file:dir { read search write add_name remove_name };
allow netd dhcp_data_file:file { read write create open getattr unlink};
allow netd self:capability { setuid net_bind_service setgid };


# Date : W15.39
# Operation :  CAT6 T-put
# Purpose :  CAT6 T-put
# Owner : Kang ouyang
allow netd servicemanager:binder call;
allow netd system_server:binder call;
binder_use(netd)

# Date : W16.27
# Operation : nsiot set property(Only for Android N)
# Purpose : nsiot set property
# Owner : kang ouyang
allow netd system_prop:property_service set;

# Date : W16.38
# Operation : MD direct Tethering Test
# # Purpose : For support MDT
allowxperm netd self:unix_stream_socket ioctl {SIOCSIFBR SIOCBRADDBR SIOCBRADDIF SIOCDEVPRIVATE};
