# Date : 2014/10/20
# Operation : IT
# Purpose : enable ATCI in engineer mode.
allow radio ctl_atcid-daemon-u_prop:property_service set;
allow radio ctl_atci_service_prop:property_service set;

# Date : W1634 2016/8/16
# Operation : IT
# Purpose: Support configure check tool
allow radio atci_service_exec:file getattr;
allow radio atcid_exec:file getattr;

# Date : 2017/03/15
# Purpose: for SWIFT connecting to ATCI
allow radio atcid:unix_stream_socket connectto;
allow radio adb_atci_socket:sock_file write;

# Date : WK15.43 2015/10/21
# Operation : MDM IT with Swift app
# Purpose : for app labeled by radio to connenct to md_monitor
allow radio md_monitor:unix_stream_socket connectto;


# Date : 2016/12/1
# Operation : MDM IT with Swift app
# Purpose : for app labeled by radio to auto start md_monitor
set_prop(radio, mdmmonitor_prop);

# Date : 2017/0925
# Operation : Migration IT with Privacy Protection Lock
# Purpose : for pplSmsFilterExtension find ppl_agent service
allow radio ppl_agent_service:service_manager find;

# Date : 2017/10/17
# Operation : MDM IT
# Purpose : for app labeled by radio to access /data/md_mon/
allow radio md_monitor_data_file:dir { read open search };
allow radio md_monitor_data_file:file { read open getattr };
