# ==============================================
# MTK Policy Rule
# ============

# Date : WK15.30
# Operation : Migration
# Purpose : for device bring up, not to block early migration/sanity
allow system_server aal_service:service_manager find;
# Date : 2016/02/26
# Operation: BSP C2K(for LG) test case support
# Purpose: allow atci to use NSIOT firewall
# Package: com.mediatek.atci.service
allow system_app netd_socket:sock_file write;
# Date : 2016/11/11
# Purpose : Add permission for aee socket access to report Java Layer Exception
allow system_server aee_aed:unix_stream_socket connectto;

# Date : 2017/09/15
# Purpose : Add mtk_connmetrics_service for CTA's celluar data control
allow system_server mtk_connmetrics_service:service_manager add;

# Date : 2017/10/09
# Purpose : Record and get permission
allow system_server mtk_permrecords_service:service_manager add;
