# ==============================================
# MTK Policy Rule
# =================

# Date: 2014/08/21
# Stage: BaseUT
# Purpose: connect to native atci_service
# Package Name: com.mediatek.atci.service
allow system_app atci_serv_fw_socket:sock_file write;
allow system_app atci_service:unix_stream_socket connectto;

# Date : 2016/02/26
# Operation: BSP C2K test case support
# Purpose: allow atci to use NSIOT firewall
# Package: com.mediatek.atci.service
allow system_app netd_socket:sock_file write;

# Date : WK17.29
# Operation : Migration
# Purpose: Allow to get DNS system properties
set_prop(system_app, net_dns_prop);

# Date: 2016/11/10
# Purpose: [MDM] Modem monitor config
# Package Name: com.mediatek.mdmconfig
set_prop(system_app, mdmmonitor_prop);
