# ==============================================
# Policy File of /system/bin/thermald Executable File


# ==============================================
# Type Declaration
# ==============================================

type thermald_exec , exec_type, file_type;
typeattribute thermald coredomain;

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(thermald)

# Date : WK17.28
# Operation : SQC
# Purpose : for thermal management to shutdown the phone
binder_use(thermald)
allow thermald system_server:binder call;
allow thermald activity_service:service_manager find;
