# ==============================================
# Policy File of /system/bin/atcid Executable File
# ==============================================

# ==============================================
# Type Declaration
# ==============================================

type atcid, domain;
