# ==============================================
# Policy File of /system/bin/atci_service Executable File
# ==============================================

# ==============================================
# Type Declaration
# ==============================================

type atci_service, domain;
