# ==============================================
# Policy File of /system/bin/dm_agent_binder Executable File 


# ==============================================
# Type Declaration
# ==============================================

type dm_agent_binder ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================
