# ==============================================
# Policy File of /system/bin/hdmi Executable File 

# ==============================================
# MTK Policy Rule
# ============

type hdmi, domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================
