# ==============================================
# Policy File of /system/bin/md_monitor Executable File


# ==============================================
# Type Declaration
# ==============================================

type md_monitor ,domain;

# ==============================================
# MTK Policy Rule
# ==============================================
