# ==============================================
# Policy File of /system/bin/ppl_agent Executable File


# ==============================================
# Type Declaration
# ==============================================


type ppl_agent ,domain;