# ==============================================
# Policy File of /system/bin/aee_aed Executable File

# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK14.32
# Operation : AEE UT
# Purpose : for AEE module
allow aee_aed aed_device:chr_file rw_file_perms;
allow aee_aed expdb_device:chr_file rw_file_perms;
allow aee_aed expdb_block_device:blk_file rw_file_perms;
allow aee_aed bootdevice_block_device:blk_file rw_file_perms;
allow aee_aed etb_device:chr_file rw_file_perms;

# open/dev/mtd/mtd12 failed(expdb)
allow aee_aed mtd_device:dir create_dir_perms;
allow aee_aed mtd_device:chr_file rw_file_perms;

# NE flow: /dev/RT_Monitor
allow aee_aed RT_Monitor_device:chr_file r_file_perms;

#data/aee_exp
allow aee_aed aee_exp_data_file:dir create_dir_perms;
allow aee_aed aee_exp_data_file:file create_file_perms;

#data/dumpsys
allow aee_aed aee_dumpsys_data_file:dir create_dir_perms;
allow aee_aed aee_dumpsys_data_file:file create_file_perms;

#/data/core
allow aee_aed aee_core_data_file:dir create_dir_perms;
allow aee_aed aee_core_data_file:file create_file_perms;

# /data/data_tmpfs_log
allow aee_aed data_tmpfs_log_file:dir create_dir_perms;
allow aee_aed data_tmpfs_log_file:file create_file_perms;

# Purpose: aee_aed set property
set_prop(aee_aed, persist_mtk_aee_prop);
set_prop(aee_aed, persist_aee_prop);
set_prop(aee_aed, debug_mtk_aee_prop);

# /proc/lk_env
allow aee_aed proc_lk_env:file rw_file_perms;

# Purpose: Allow aee_aedv to read /proc/pid/exe
allow aee_aed exec_type:file r_file_perms;
