# ==============================================
# Policy File of /system/bin/audiocmdservice_atci Executable File

# Read/Write NV
allow audiocmdservice_atci nvram_device:devfile_class_set rw_file_perms;
allow audiocmdservice_atci nvram_data_file:dir create_dir_perms;
allow audiocmdservice_atci nvram_data_file:{file lnk_file} create_file_perms;
allow audiocmdservice_atci nvdata_file:dir create_dir_perms;
allow audiocmdservice_atci nvdata_file:file create_file_perms;

# Access to storages for audio tuning tool to read/write tuning result
allow audiocmdservice_atci { block_device device }:dir { write search };
allow audiocmdservice_atci mnt_user_file:dir rw_dir_perms;
allow audiocmdservice_atci { mnt_user_file storage_file }:lnk_file rw_file_perms;
allow audiocmdservice_atci bootdevice_block_device:blk_file { read write };

allow audiocmdservice_atci hal_audio_hwservice:hwservice_manager find;
binder_call(audiocmdservice_atci,mtk_hal_audio);
allow audiocmdservice_atci mtk_audiohal_data_file:dir create_dir_perms;
