# ==============================================
# MTK Policy Rule
# ============

# Date : WK16.33
# Purpose: Allow to access ged for gralloc_extra functions
#allow autoplay_app proc_ged:file {open read write ioctl getattr};
