# ============================================== 
# MTK Policy Rule 
# ==============================================

# Date:W17.07
# Operation : bt hal developing
# Purpose : bt hal interface permission
binder_call(bluetooth, mtk_hal_bluetooth)

allow bluetooth storage_stub_file:dir getattr;