# ==============================================
# MTK Policy Rule
# ============

# Date : WK14.37
# Operation : Migration
# Purpose : for opetator
allow bootanim custom_file:dir search;
allow bootanim custom_file:file r_file_perms;
allow bootanim bootani_prop:property_service set;

# Date : WK14.46
# Operation : Migration
# Purpose : For MTK Emulator HW GPU
allow bootanim qemu_pipe_device:chr_file rw_file_perms;

# Date : WK16.33
# Purpose: Allow to access ged for gralloc_extra functions
allow bootanim proc_ged:file {open read write ioctl getattr};

# Date : WK17.43
# Operation : Migration
# Purpose : For MTK perfmgr
allow bootanim proc_perfmgr:dir {search read};
allow bootanim proc_perfmgr:file {open read ioctl};
