# Date: W14.38 2014/09/17
# Operation : Migration
# Purpose : for em_svr
allow em_svr nvram_device:blk_file { read write open };
allow em_svr nvdata_device:blk_file { read write open };
allow em_svr bootdevice_block_device:blk_file { read write open };
allow em_svr misc_sd_device:chr_file { read open ioctl };
allow em_svr als_ps_device:chr_file { read ioctl open };
allow em_svr gsensor_device:chr_file { read ioctl open };
allow em_svr gyroscope_device:chr_file { read ioctl open };
allow em_svr nvram_data_file:dir { write read open add_name search };
allow em_svr nvram_data_file:file { write getattr setattr read create open };
allow em_svr nvram_data_file:lnk_file read;
allow em_svr nvdata_file:lnk_file read;
allow em_svr nvdata_file:dir { write read open add_name search };
allow em_svr nvdata_file:file { write getattr setattr read create open };
allow em_svr nvram_device:chr_file { open read write ioctl };
allow em_svr thermal_manager_exec:file { getattr execute read open execute_no_trans };
allow em_svr proc_mtkcooler:dir search;
allow em_svr proc_mtkcooler:file { read getattr open write };
allow em_svr proc_thermal:dir search;
allow em_svr proc_thermal:file { read getattr open write };
allow em_svr proc_mtktz:dir search;
allow em_svr proc_mtktz:file  { read getattr open write };
allow em_svr proc_slogger:file { read getattr open write };
allow em_svr proc_lk_env:file { read getattr open write ioctl};
allow em_svr para_block_device:blk_file { read open };
# Date: 2015/12/22
# Operation : M Migration
# Purpose : Battery Log can change temperature
userdebug_or_eng(`
allow em_svr proc_battery_cmd:dir search;
allow em_svr proc_battery_cmd:file { read getattr open write };
')

# Date : WK16.33
# Purpose: Allow to access ged for gralloc_extra functions
allow em_svr proc_ged:file {open read write ioctl getattr};

# Date : WK17.42
# Purpose: Allow to query md log filter bin
allow em_svr md_block_device:blk_file { read open };


