# ==============================================
# MTK Policy Rule
# ==============================================

type custom_file, file_type, data_file_type;
type lost_found_data_file, file_type, data_file_type;
type dontpanic_data_file, file_type, data_file_type;
type resource_cache_data_file, file_type, data_file_type;
type http_proxy_cfg_data_file, file_type, data_file_type;
type acdapi_data_file, file_type, data_file_type;
type ppp_data_file, file_type, data_file_type;
type wide_dhcpv6_data_file, file_type, data_file_type;
type wpa_supplicant_data_file, file_type, data_file_type;
type radvd_data_file, file_type, data_file_type;
type volte_vt_socket, file_type;
type dfo_socket, file_type;
type rild2_socket, file_type;
type rild3_socket, file_type;
type rild4_socket, file_type;
type rild_mal_socket, file_type;
type rild_mal_at_socket, file_type;
type rild_mal_md2_socket, file_type;
type rild_mal_at_md2_socket, file_type;
type rild_ims_socket, file_type;
type rild_imsm_socket, file_type;
type rild_oem_socket, file_type;
type rild_mtk_ut_socket, file_type;
type rild_mtk_ut_2_socket, file_type;
type rild_mtk_modem_socket, file_type;
type rild_md2_socket, file_type;
type rild2_md2_socket, file_type;
type rild_debug_md2_socket, file_type;
type rild_oem_md2_socket, file_type;
type rild_mtk_ut_md2_socket, file_type;
type rild_mtk_ut_2_md2_socket, file_type;
type rild_mtk_modem_md2_socket, file_type;
type rild_vsim_socket, file_type;
type rild_vsim_md2_socket, file_type;
type mal_mfi_socket, file_type;
type mal_data_file, file_type, data_file_type;
type netdiag_socket, file_type;
type wpa_wlan0_socket, file_type;
type soc_vt_imcb_socket, file_type;
type soc_vt_tcv_socket, file_type;
type soc_vt_stk_socket, file_type;
type soc_vt_svc_socket, file_type;
type dbus_bluetooth_socket, file_type;
type bt_int_adp_socket, file_type;
type bt_a2dp_stream_socket, file_type;
type bt_data_file, file_type, data_file_type;
type proc_thermal, fs_type;
type proc_mtkcooler, fs_type;
type proc_mtktz, fs_type;
type proc_slogger, fs_type;
type proc_lk_env, fs_type;
type proc_ged, fs_type;
type proc_perfmgr, fs_type;
type sysfs_therm, fs_type, sysfs_type;
type sysfs_power_supply, fs_type, sysfs_type;
type sysfs_fps, fs_type, sysfs_type;
type sysfs_ccci, fs_type, sysfs_type;
type sysfs_ssw, fs_type,sysfs_type;
type sysfs_vcorefs_pwrctrl, fs_type, sysfs_type;
type sysfs_md32, fs_type, sysfs_type;
type sysfs_scp, fs_type, sysfs_type;
type sysfs_sspm, fs_type, sysfs_type;
type sysfs_devinfo, fs_type, sysfs_type, mlstrustedobject;
type sysfs_dcm, fs_type, sysfs_type;
type sysfs_dcs, fs_type, sysfs_type;
type agpsd_socket, file_type;
type agpsd_data_file, file_type, data_file_type;
type mnld_socket, file_type;
type mnld_data_file, file_type, data_file_type;
type gps_data_file, file_type, data_file_type;
type MPED_socket, file_type;
type MPED_data_file, file_type, data_file_type;
type sysctl_socket, file_type;
type backuprestore_socket, file_type;
type protect_f_data_file, file_type, data_file_type;
type protect_s_data_file, file_type, data_file_type;
type persist_data_file, file_type, data_file_type;
type nvram_data_file, file_type, data_file_type;
type nvdata_file, file_type, data_file_type;
type nvcfg_file, file_type, data_file_type;
type cct_data_file, file_type, data_file_type;
type mediaserver_data_file, file_type, data_file_type;
type mediacodec_data_file, file_type, data_file_type;


#mobilelog data/misc/mblog
type logmisc_data_file, file_type, data_file_type;

#mobilelog data/log_temp
type logtemp_data_file, file_type, data_file_type;

# NE core_forwarder
type aee_core_data_file, file_type, data_file_type;

# NE tombstone
type aee_tombstone_data_file, file_type, data_file_type;

# AEE exp
type aee_exp_data_file, file_type, data_file_type;
type aee_dumpsys_data_file, file_type, data_file_type;

# SF rtt dump
type sf_rtt_file, file_type, data_file_type;

#for 3Gdongle
type rild-dongle_socket, file_type;

type ccci_cfg_file, file_type, data_file_type;
type c2k_file, file_type, data_file_type;
#For sensor
type sensor_data_file, file_type, data_file_type;
type stp_dump_data_file, file_type,data_file_type;
type sysfs_keypad_file, file_type,sysfs_type;
type rild_via_socket, file_type;
type rpc_socket, file_type;
type rild_ctclient_socket, file_type;
#For icusb
type proc_icusb, fs_type;

# for labeling /mnt/cd-rom as iso9660
type iso9660, fs_type;

# data_tmpfs_log
type data_tmpfs_log_file, file_type, data_file_type;

# rawfs for /protect_f on NAND projects
type rawfs, fs_type, mlstrustedobject;

# fat on nand fat.img
type fon_image_data_file, file_type, data_file_type;

# ims ipsec config file
type ims_ipsec_data_file, file_type, data_file_type;

# thermal manager config file
type thermal_manager_data_file, file_type, data_file_type;

# adbd config file
type adbd_data_file, file_type, data_file_type, core_data_file_type;

#autokd data file
type autokd_data_file, file_type, data_file_type;

#fuse
type fuseblk,sdcard_type,fs_type,mlstrustedobject;

# for mt-ramdump reset
type proc_mrdump_rst, fs_type;

# battery_cmd file
type proc_battery_cmd, fs_type;

# binder debugfs file
type debugfs_binder, fs_type, debugfs_type;

# blockio debugfs file
type debugfs_blockio, fs_type, debugfs_type;

# fuseio debugfs file
type debugfs_fuseio, fs_type, debugfs_type;

# usb debugfs file
type debugfs_usb, fs_type, debugfs_type;

# display debugfs file
type debugfs_fb, fs_type, debugfs_type;

# cpuhvfs debugfs file
type debugfs_cpuhvfs, fs_type, debugfs_type;

#for engineermode Usb PHY Tuning
type debugfs_usb20_phy, fs_type, debugfs_type;

# dynamic_debug debugfs file
type debugfs_dynamic_debug, fs_type, debugfs_type;

# /sys/kernel/debug/wakeup_sources
type debugfs_wakeup_sources, fs_type, debugfs_type;
# shrinker debugfs file
type debugfs_shrinker_debug, fs_type, debugfs_type;

# dmlog debugfs file
type debugfs_dmlog_debug, fs_type, debugfs_type;

# page_owner_slim debugfs file
type debugfs_page_owner_slim_debug, fs_type, debugfs_type;

# rcu debugfs file
type debugfs_rcu, fs_type, debugfs_type;

# gpu debugfs file
type debugfs_ged, fs_type, debugfs_type;

# fpsgo debugfs file
type debugfs_fpsgo, fs_type, debugfs_type;

# memtrack debugfs file
type debugfs_gpu_mali_midgard, fs_type, debugfs_type;
type debugfs_gpu_mali_utgard, fs_type, debugfs_type;
type debugfs_gpu_img, fs_type, debugfs_type;
type debugfs_ion, fs_type, debugfs_type;

# /sys/kernel/debug/ion/ion_mm_heap
type debugfs_ion_mm_heap, fs_type, debugfs_type;

# /sys/kernel/debug/emi_mbw/dump_buf
type debugfs_emi_mbw_buf, fs_type, debugfs_type;

######################################
# core domain file data

# SF bqdump
type sf_bqdump_data_file, file_type, data_file_type, core_data_file_type;
type nfc_socket, file_type, data_file_type, core_data_file_type;
# factory data file
type factory_data_file, file_type, data_file_type, core_data_file_type;
# Modem Log folder
type mdlog_data_file, file_type, data_file_type, core_data_file_type;

# MTK audio HAL folder
type mtk_audiohal_data_file, file_type, data_file_type;

# MTK Power HAL folder
type mtk_powerhal_data_file, file_type, data_file_type;

# Date : WK1743
# Purpose : for meta_tst copy MD DB from MD image
type mddb_data_file, file_type, data_file_type;
