# ==============================================
# Policy File of /system/bin/fuelgauged_static Executable File

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

# Data : WK14.43
# Operation : Migration
# Purpose : For meta tool calibration
allow fuelgauged_static mtk-adc-cali_device:chr_file rw_file_perms;

# Data : WK14.43
# Operation : Migration
# Purpose : For fg.log can be printed with kernel log
allow fuelgauged_static kmsg_device:chr_file w_file_perms;

# Data : WK16.21
# Operation : New Feature
# Purpose : For fg daemon can do nvram r/w to save car_tune_value
allow fuelgauged_static nvdata_file:dir rw_dir_perms;
allow fuelgauged_static nvdata_file:file {rw_file_perms create_file_perms};
allow fuelgauged_static nvram_data_file:lnk_file rw_file_perms;
allow fuelgauged_static nvdata_file:lnk_file rw_file_perms;

