# ==============================================
# Policy File of /system/bin/gsm0710muxd Executable File

# ==============================================
# Type Declaration
# ==============================================
type gsm0710muxd, domain;
type gsm0710muxd_exec , exec_type, file_type, vendor_file_type;

# ==============================================
# MTK Policy Rule
# ==============================================
init_daemon_domain(gsm0710muxd)

# Capabilities assigned for gsm0710muxd
allow gsm0710muxd self:capability { chown fowner setuid };

# Property service
# Set ctl.ril-daemon property
set_prop(gsm0710muxd, ctl_rildaemon_prop)
set_prop(gsm0710muxd, ctl_ril-daemon-mtk_prop)
set_prop(gsm0710muxd, ctl_fusion_ril_mtk_prop)
set_prop(gsm0710muxd, gsm0710muxd_prop)
set_prop(gsm0710muxd, radio_prop)
# allow set muxreport control properties
set_prop(gsm0710muxd, ril_mux_report_case_prop)

# Allow read/write to devices/files
allow gsm0710muxd gsm0710muxd_device:chr_file rw_file_perms;
allow gsm0710muxd device:dir rw_dir_perms;
allow gsm0710muxd device:lnk_file { create unlink };
allow gsm0710muxd devpts:chr_file setattr;
allow gsm0710muxd eemcs_device:chr_file rw_file_perms;
allow gsm0710muxd sysfs:file r_file_perms;

# Allow read to sys/kernel/ccci/* files
allow gsm0710muxd sysfs_ccci:dir search;
allow gsm0710muxd sysfs_ccci:file r_file_perms;

