# ==============================================
# MTK Policy Rule
# ==============================================

# Allow hal wifi service to open/read/setattr wifi device.
# wmtWifi is wifi char device file to control wifi driver.
allow hal_wifi wmtWifi_device:chr_file w_file_perms;

