# Date : 2017/08/14
# Operation : O1 Migration
# Purpose : hal_cas_default needs to use vendor binder to communicate
vndbinder_use(hal_cas_default);

