vndbinder_use(hal_drm_default);

#============= hal_drm_default ==============
allow hal_drm_default debugfs_tracing:file write;
allow hal_drm_default debugfs_ion:dir search;

