# Communicate over a socket created by mnld process.
#allow hal_gnss debuggerd:fd use;
allow hal_gnss_default mnld_data_file:sock_file create_file_perms;
allow hal_gnss_default mnld_data_file:sock_file rw_file_perms;
allow hal_gnss_default mnld_data_file:dir create_file_perms;
allow hal_gnss_default mnld_data_file:dir rw_dir_perms;

allow hal_gnss_default mnld:unix_dgram_socket sendto;
