#for nvram hidl client support
binder_call(hal_nvramagent_client, hal_nvramagent_server)
allow hal_nvramagent_client nvram_agent_binder_hwservice:hwservice_manager find;

# add/find permission rule to hwservicemanager
add_hwservice(hal_nvramagent_server, nvram_agent_binder_hwservice)
