# HwBinder IPC from clients into server, and callbacks
binder_call(hal_pq_client, hal_pq_server)
binder_call(hal_pq_server, hal_pq_client)

# give permission for hal client
allow hal_pq_client mtk_hal_pq_hwservice :hwservice_manager find;
