# ==============================================
# ST NFC HAL rule
# ==============================================

allow hal_nfc st21nfc_device:chr_file { read write getattr open ioctl };
