# ====================================
# MTK Policy Rule
# ====================================

# Date: 2014/09/15
# Operation: [Pre-SQC] Hotspot Manager cannot communicate with framework
# Purpose: Add socket write permission for hostapd
allow hostapd system_wpa_socket:sock_file write;


# Date: 2014/10/13
# Operation: [L-SQC] SELinux warning during whole chip reset
# Purpose: kernel module netdev-ap0 gets invalid during whole chip reset, no impact to normal flow, dontaudit
dontaudit hostapd kernel:system module_request;

# Date: 2017/06/22
# Operation: [O-SQC] WiFi hal
# Purpose: WiFi hal for WiFi hotspot manager
hal_server_domain(hostapd, hal_wifi_supplicant)
hal_server_domain(hostapd, mtk_hal_wifi_hostapd)

