type mtk_hal_bluetooth_hwservice, hwservice_manager_type;

# Date: 2017/05/9
type mtk_hal_rild_hwservice, hwservice_manager_type;

# Date: 2017/06/07
# power hidl
type mtk_hal_power_hwservice, hwservice_manager_type;

# Date: 2017/06/12
# LBS HIDL
type mtk_hal_lbs_hwservice, hwservice_manager_type;

# Date: 2017/06/22
# WIFI HOSTAPD HIDL
type mtk_hal_wifi_hostapd_hwservice, hwservice_manager_type;

# Date: 2017/06/27
# IMSA HIDL
type mtk_hal_imsa_hwservice, hwservice_manager_type;

# Date: 2017/07/12
# NVRAM HIDL
type nvram_agent_binder_hwservice, hwservice_manager_type;

# Date: 2017/07/19
# PQ HIDL
type mtk_hal_pq_hwservice, untrusted_app_visible_hwservice, hwservice_manager_type;

# Date: 2017/07/20
# keymaster attestation hidl
type mtk_hal_keyattestation_hwservice, hwservice_manager_type;
