# ==============================================
# MTK Policy Rule
# ============

# Date : WK14.40 2014/12/26
# Operation : CTS 5.0_r1
# Purpose : allow access to /data/data for full CTS
allow keystore app_data_file:file write;

# Date : WK17.30 2017/07/25
# Operation : keystore
# Purpose : Fix keystore boot selinux violation
allow keystore debugfs_tracing:file write;
allow hal_keymaster_default debugfs_tracing:file write;
