type lbs_hidl_service, domain;
hal_server_domain(lbs_hidl_service, mtk_hal_lbs)

type lbs_hidl_service_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(lbs_hidl_service)
vndbinder_use(lbs_hidl_service)

r_dir_file(lbs_hidl_service, system_file)
unix_socket_connect(lbs_hidl_service, agpsd, mtk_agpsd);
allow lbs_hidl_service mtk_agpsd:unix_dgram_socket sendto;
allow lbs_hidl_service mnld:unix_dgram_socket sendto;
