# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK16.33
# Purpose: Allow to access ged for gralloc_extra functions
allow mediadrmserver proc_ged:file {open read write ioctl getattr};




# Date : WK17.28
# Operation : MT6757 SQC
# Purpose : Change thermal config
allow mediaserver mtk_thermal_config_prop:file { getattr open read };
allow mediaserver mtk_thermal_config_prop:property_service set;