# ==============================================
# Policy File of /system/bin/meta_tst Executable File

# ==============================================
# MTK Policy Rule
# ==============================================

# Date: WK16.12
# Operation : Migration
# Purpose : for meta mode device node USB
allow meta_tst ttyGS_device:chr_file rw_file_perms;

# Date: WK16.12
# Operation : Migration
# Purpose : for meta mode device node UART
allow meta_tst ttyMT_device:chr_file rw_file_perms;

# Date: WK16.12
# Operation : Migration
# Purpose : for meta mode device node CCCI
allow meta_tst ccci_device:chr_file rw_file_perms;
allow meta_tst eemcs_device:chr_file rw_file_perms;
allow meta_tst emd_device:chr_file rw_file_perms;
allow meta_tst ttyACM_device:chr_file rw_file_perms;
allow meta_tst mdlog_device:chr_file rw_file_perms;

# Data: WK15.07
# Purpose : SDIO
allow meta_tst ttySDIO_device:chr_file rw_file_perms;

# Date: WK16.12
# Operation : Migration
# Purpose : for meta mode file system
allow meta_tst bootdevice_block_device:blk_file rw_file_perms;
allow meta_tst mmcblk1_block_device:blk_file rw_file_perms;
allow meta_tst userdata_block_device:blk_file rw_file_perms;
allow meta_tst cache_block_device:blk_file rw_file_perms;

# Date: WK16.12
# Operation : Migration
# Purpose : for meta mode nvram
allow meta_tst nvram_data_file:dir create_dir_perms;
allow meta_tst nvram_data_file:file create_file_perms;
allow meta_tst nvram_data_file:lnk_file r_file_perms;
allow meta_tst nvdata_file:lnk_file r_file_perms;
allow meta_tst nvdata_file:dir create_dir_perms;
allow meta_tst nvdata_file:file create_file_perms;
allow meta_tst nvram_device:chr_file rw_file_perms;
allow meta_tst nvram_device:blk_file rw_file_perms;
allow meta_tst nvdata_device:blk_file rw_file_perms;


# Date: WK14.47
# Operation : Migration
# Purpose : for meta mode audio
allow meta_tst audio_device:chr_file  rw_file_perms;
allow meta_tst audio_device:dir r_dir_perms;
set_prop(meta_tst, audiohal_prop);

# Date: WK16.12
# Operation : Migration
# Purpose : for meta mode RTC and PMIC
allow meta_tst rtc_device:chr_file r_file_perms;
allow meta_tst MT_pmic_adc_cali_device:chr_file rw_file_perms;


# Date: WK14.45
# Operation : Migration
# Purpose : HDCP
allow meta_tst persist_data_file:dir create_dir_perms;
allow meta_tst persist_data_file:file create_file_perms;


# Date: WK14.46
# Operation : Migration
# Purpose : Camera
allow meta_tst cct_data_file:dir create_dir_perms;
allow meta_tst cct_data_file:file create_file_perms;
allow meta_tst devmap_device:chr_file rw_file_perms;
allow meta_tst camera_pipemgr_device:chr_file rw_file_perms;
allow meta_tst MTK_SMI_device:chr_file rw_file_perms;
allow meta_tst camera_isp_device:chr_file rw_file_perms;
allow meta_tst camera_sysram_device:chr_file r_file_perms;
allow meta_tst kd_camera_flashlight_device:chr_file rw_file_perms;
allow meta_tst kd_camera_hw_device:chr_file rw_file_perms;
allow meta_tst AD5820AF_device:chr_file rw_file_perms;
allow meta_tst DW9714AF_device:chr_file rw_file_perms;
allow meta_tst DW9714A_device:chr_file rw_file_perms;
allow meta_tst LC898122AF_device:chr_file rw_file_perms;
allow meta_tst LC898212AF_device:chr_file rw_file_perms;
allow meta_tst BU6429AF_device:chr_file rw_file_perms;
allow meta_tst DW9718AF_device:chr_file rw_file_perms;
allow meta_tst BU64745GWZAF_device:chr_file rw_file_perms;
allow meta_tst MAINAF_device:chr_file rw_file_perms;
allow meta_tst MAIN2AF_device:chr_file rw_file_perms;
allow meta_tst SUBAF_device:chr_file rw_file_perms;

# Date: WK16.12
# Operation : Migration
# Purpose : meta mode LCM
allow meta_tst graphics_device:chr_file rw_file_perms;
allow meta_tst graphics_device:dir search;

# Date: WK16.12
# Operation : Migration
# Purpose : meta mode sensor
allow meta_tst als_ps_device:chr_file r_file_perms;
allow meta_tst gsensor_device:chr_file r_file_perms;
allow meta_tst msensor_device:chr_file r_file_perms;
allow meta_tst gyroscope_device:chr_file r_file_perms;

# Date: WK16.12
# Operation : Migration
# Purpose : meta mode FM
allow meta_tst fm_device:chr_file rw_file_perms;
allow meta_tst FM50AF_device:chr_file rw_file_perms;

# Date: WK16.12
# Operation : Migration
# Purpose : meta mode wifi
allow meta_tst wmtWifi_device:chr_file w_file_perms;


# Date: WK16.12
# Operation : Migration
# Purpose : meta mode BT
allow meta_tst stpbt_device:chr_file rw_file_perms;

# Date: WK16.12
# Operation : Migration
# Purpose : meta mode GPS
#allow meta_tst gps_device:chr_file rw_file_perms;
#allow meta_tst gps_data_file:file create_file_perms;
#allow meta_tst gps_data_file:dir rw_dir_perms;
allow meta_tst gps_data_file:dir { write add_name search remove_name unlink};
allow meta_tst gps_data_file:file { read write open create getattr append setattr unlink lock};
allow meta_tst gps_data_file:lnk_file read;
allow meta_tst tmpfs:lnk_file read;
allow meta_tst agpsd_data_file:dir search;
allow meta_tst agpsd_data_file:sock_file write;
allow meta_tst mnld_device:chr_file rw_file_perms;
set_prop(meta_tst, mnld_prop);

# Date: WK16.12
# Operation : Migration
# Purpose : meta mode NFC
allow meta_tst mt6605_device:chr_file rw_file_perms;

#Date WK14.49
#Operation : Migration
#Purpose : DRM key installation
allow meta_tst shell_exec:file rx_file_perms;
allow meta_tst system_data_file:dir create;
allow meta_tst key_install_data_file:dir w_dir_perms;
allow meta_tst key_install_data_file:file create_file_perms;

# Date: WK14.51
# Purpose : set/get cryptfs cfg in sys env
allow meta_tst misc_device:chr_file rw_file_perms;
allow meta_tst proc_lk_env:file rw_file_perms;


# Purpose : FT_EMMC_OP_FORMAT_TCARD
allow meta_tst block_device:blk_file getattr;
allow meta_tst system_block_device:blk_file getattr;
#allow meta_tst fuse_device:chr_file getattr;
allow meta_tst shell_exec:file r_file_perms;

# Date: WK15.52
# Purpose : NVRAM related LID
allow meta_tst pro_info_device:chr_file rw_file_perms;

# Date: WK15.14
# Purpose : CCT linker fail
allow meta_tst self:process execmem;

# Date: WK15.13
# Purpose: for nand project
allow meta_tst mtd_device:dir search;
allow meta_tst mtd_device:chr_file rw_file_perms;


# Date: WK15.38
# Purpose: M Migration for CCT linker fail
allow meta_tst sdcard_type:dir create_dir_perms;
allow meta_tst sdcard_type:file create_file_perms;
allow meta_tst mnt_user_file:dir search;
allow meta_tst mnt_user_file:lnk_file read;
allow meta_tst storage_file:lnk_file read;

# Date: WK16.17
# Purpose:  N Migration For ccci sysfs node
allow meta_tst sysfs_ccci:dir search;
allow meta_tst sysfs_ccci:file r_file_perms;

#Date: W16.17
# Purpose:  N Migration for meta_tst get com port type and uart port info
# detail avc log: [   11.751803] <1>.(1)[227:logd.auditd]type=1400 audit(1262304016.560:10):
#avc: denied { read } for pid=203 comm="meta_tst" name="meta_com_type_info" dev=
#"sysfs" ino=11073 scontext=u:r:meta_tst:s0 tcontext=u:object_r:sysfs:s0 tclass=file permissive=0
allow meta_tst sysfs:file rw_file_perms;

#Date: W16.17
# Purpose:  N Migration For meta_tst load MD NVRAM database
# Detail avc log: [04-23-20:41:58][  160.687655] <1>.(1)[230:logd.auditd]type=
#1400 audit(1262304165.560:24): avc: denied { read } for pid=228 comm=
#"meta_tst" name="mddb" dev="mmcblk0p20" ino=664 scontext=u:r:meta_tst:
#s0 tcontext=u:object_r:system_file:s0 tclass=dir permissive=0
allow meta_tst system_file:dir r_dir_perms;

# Date: WK16.18
# Purpose: for CCCI reboot modem
allow meta_tst gsm0710muxd_device:chr_file rw_file_perms;

# Date: WK16.20
# Purpose: meta_tst set sys.usb.config
set_prop(meta_tst, system_radio_prop);

#Date: W16.33
# Purpose:  N Migration For CCT
allow meta_tst media_rw_data_file:dir { search read open getattr };
allow meta_tst media_rw_data_file:file { write open read};

# Date : WK16.35
# Purpose : Update camera flashlight driver device file
allow meta_tst flashlight_device:chr_file rw_file_perms;

#Date: W16.36
# Purpose:  meta_tst use libmeta_rat to write libsysenv
# Detail avc log:[   25.307141] .(5)[264:logd.auditd]type=1400 audit(1469438818.570:7):
#avc: denied { read write } for pid=312 comm="meta_tst" name="mmcblk0p2" dev="tmpfs"
#ino=4561 scontext=u:r:meta_tst:s0 tcontext=u:object_r:para_block_device:s0 tclass=blk_file permissive=0
allow meta_tst para_block_device:blk_file { read write open };

#Date: W16.44
allow meta_tst nvcfg_file:dir { search read open };

#Date: W16.45
# Purpose : Allow unmount sdcardfs mounted on /data/media
allow meta_tst sdcard_type:filesystem unmount;
allow meta_tst toolbox_exec:file { getattr execute execute_no_trans read open };
allow meta_tst storage_stub_file:dir search;

# Date: WK16.16
# Purpose: support meta mode wifi on
allow meta_tst self:netlink_route_socket { bind create getattr write nlmsg_read read nlmsg_write };
#allow meta_tst self:packet_socket { bind create write read ioctl };
#allow meta_tst net_wlan_dns_prop:property_service set;
allow meta_tst self:capability { setgid setuid };
allow meta_tst self:packet_socket create_socket_perms_no_ioctl;
allow meta_tst self:capability { setgid setuid sys_module sys_time};
#allow meta_tst wpa_exec:file getattr;
allow meta_tst wifi_data_file:dir create_dir_perms;
allow meta_tst wifi_data_file:sock_file create_file_perms;
#allow meta_tst wpa_exec:file rx_file_perms;
#allow meta_tst wpa_socket:dir create_dir_perms;
#allow meta_tst wpa_socket:sock_file create_file_perms;
allow meta_tst self:netlink_socket create_socket_perms_no_ioctl;
allow meta_tst self:rawip_socket create;
allow meta_tst self:udp_socket create_socket_perms_no_ioctl;
allow meta_tst self:rawip_socket create_socket_perms_no_ioctl;
allow meta_tst proc_ged:file r_file_perms;
allowxperm meta_tst self:udp_socket ioctl {SIOCSIFFLAGS SIOCGIFCONF SIOCIWFIRSTPRIV_08 SIOCIWFIRSTPRIV_09};
allow meta_tst meta_tst:netlink_generic_socket { read write getattr bind create setopt };

# Date : WK16.19
# Operation: meta_tst set persist.meta.connecttype property
# Purpose: Switch meta connect type, set persist.meta.connecttype as "wifi" or "usb".
set_prop(meta_tst, meta_connecttype_prop);

# Date : WK16.23
# Purpose: support meta_tst check key event
allow meta_tst input_device:dir r_dir_perms;
allow meta_tst input_device:chr_file r_file_perms;

# Date : WK16.29
# Purpose: support meta mode show string on screen
allow meta_tst ashmem_device:chr_file execute;

#Date: W16.50
# Purpose : Allow meta_tst stop service which occupy data partition.
allow meta_tst ctl_default_prop:property_service set;

#Date: W17.25
# Purpose : Allow meta_tst stop service which occupy data partition.
allow meta_tst ctl_emdlogger1_prop:property_service set;

#Date: W17.27
# Purpose : Allow meta_tst read /data/nvram link
allow meta_tst system_data_file:lnk_file read;

#Date: W17.27
# Purpose: STMicro NFC solution integration
allow meta_tst st21nfc_device:chr_file { open read write ioctl };
allow meta_tst factory_data_file:sock_file { write unlink };
allow meta_tst nfc_socket:dir search;
allow meta_tst vendor_file:file { getattr execute execute_no_trans read open };
set_prop(meta_tst,hwservicemanager_prop);
hwbinder_use(meta_tst);
hal_client_domain(meta_tst, hal_nfc);
allow meta_tst debugfs_tracing:file { open write };

# Date: W17.29
# Purpose : Allow meta_tst to call vendor.mediatek.hardware.keymaster_attestation@1.0-service.
hal_client_domain(meta_tst, mtk_hal_keyattestation)

# Date : WK17.30
# Operation : Android O migration
# Purpose : add sepolicy for accessing sysfs_leds
allow meta_tst sysfs_leds:lnk_file read;
allow meta_tst sysfs_leds:file rw_file_perms;
allow meta_tst sysfs_leds:dir r_dir_perms;

# Date: WK17.43
# Purpose: add permission for meta_tst access md image
allow meta_tst md_block_device:blk_file { read open };
allow meta_tst mddb_data_file:file { create open write read getattr};
allow meta_tst mddb_data_file:dir { search write add_name create getattr read open };

# Date: W17.43
# Purpose : meta connect with mdlogger by socket.
allow meta_tst emdlogger:unix_stream_socket connectto;

# Date: W17.43
# Purpose : meta connect with mobilelog by socket.
allow meta_tst mobile_log_d:unix_stream_socket connectto;

# Date: W17.43
# Purpose : meta access mobile log.
allow meta_tst logtemp_data_file:dir { relabelto create_dir_perms };
allow meta_tst logtemp_data_file:file create_file_perms;
allow meta_tst data_tmpfs_log_file:dir create_dir_perms;
allow meta_tst data_tmpfs_log_file:file create_file_perms;

# Date: W17.43
# Purpose meta access on /data/mdlog
allow meta_tst mdlog_data_file:dir { create_dir_perms relabelto };
allow meta_tst mdlog_data_file:fifo_file { create_file_perms };
allow meta_tst mdlog_data_file:file { create_file_perms };
allow meta_tst system_data_file:dir { create_dir_perms relabelfrom};

# Date: W17.43
# Purpose : Allow meta_tst to call android.hardware.audio@2.0-service-mediatek
binder_call(meta_tst, mtk_hal_audio)
allow meta_tst mtk_hal_audio:binder call;
allow meta_tst hal_audio_hwservice:hwservice_manager find;
allow meta_tst mtk_audiohal_data_file:dir {read search open};
allow meta_tst proc:file {read open};
allow meta_tst audio_device:chr_file rw_file_perms;
allow meta_tst audio_device:dir w_dir_perms;
allow meta_tst audiohal_prop:property_service set;

#Data:W1745
# Purpose : Allow meta_tst to open and read proc/bootprof
allow meta_tst proc:file write;
allow meta_tst proc:file getattr;

# Date:W17.51
# Operation : lbs hal
# Purpose : lbs hidl interface permission
hal_client_domain(meta_tst, mtk_hal_lbs)

# Data:W1750
# Purpose : Allow meta_tst to access mtd device
allow meta_tst mtd_device:blk_file rw_file_perms;

#Date: W17.51
#Purpose : Allow meta_tst to access pesist.atm.mdmode in ATM.
set_prop(meta_tst, atm_mdmode_prop);

#Date: W17.51
#Purpose : Allow meta_tst to access pesist.atm.ipaddress in ATM.
set_prop(meta_tst, atm_ipaddr_prop);
