# HwBinder IPC from client to server, and callbacks
binder_call(mtk_hal_lbs_client, mtk_hal_lbs_server)
binder_call(mtk_hal_lbs_server, mtk_hal_lbs_client)

add_hwservice(mtk_hal_lbs_server, mtk_hal_lbs_hwservice)
allow mtk_hal_lbs_client mtk_hal_lbs_hwservice:hwservice_manager find;

vndbinder_use(mtk_hal_lbs)