# HwBinder IPC from client to server
binder_call(mtk_hal_keyattestation_client, mtk_hal_keyattestation_server);

add_hwservice(mtk_hal_keyattestation_server, mtk_hal_keyattestation_hwservice)
allow mtk_hal_keyattestation_client mtk_hal_keyattestation_hwservice:hwservice_manager find;

# allow hal_keymaster tee_device:chr_file rw_file_perms;
