# ==============================================================================
# Type Declaration
# ==============================================================================
type mtk_hal_light, domain;
type mtk_hal_light_exec, exec_type, file_type, vendor_file_type;

# hwbinder access
init_daemon_domain(mtk_hal_light)
hwbinder_use(mtk_hal_light)

# call into system_server process (callbacks)
binder_call(mtk_hal_light, system_server)

# system file
allow mtk_hal_light system_file:dir read;
allow mtk_hal_light system_file:dir open;
allow mtk_hal_light sysfs:file rw_file_perms;

allow mtk_hal_light sysfs_leds:lnk_file read;
allow mtk_hal_light sysfs_leds:file rw_file_perms;
allow mtk_hal_light sysfs_leds:dir r_dir_perms;

allow mtk_hal_light hwservicemanager_prop:file r_file_perms;
hal_server_domain(mtk_hal_light,hal_light);
