type mtk_hal_gnss, domain;
hal_server_domain(mtk_hal_gnss, hal_gnss);

type mtk_hal_gnss_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(mtk_hal_gnss)

#TODO:: work around solution, wait for correct solution from google
vndbinder_use(mtk_hal_gnss)

r_dir_file(mtk_hal_gnss, system_file)

# Communicate over a socket created by mnld process.
#allow mtk_hal_gnss debuggerd:fd use;
allow mtk_hal_gnss mnld_data_file:sock_file create_file_perms;
allow mtk_hal_gnss mnld_data_file:sock_file rw_file_perms;
allow mtk_hal_gnss mnld_data_file:dir create_file_perms;
allow mtk_hal_gnss mnld_data_file:dir rw_dir_perms;

allow mtk_hal_gnss mnld:unix_dgram_socket sendto;

