# ==============================================
# Policy File of /vendor/bin/MtkCodecService Executable File

# ==============================================
# Type Declaration
# ==============================================
type MtkCodecService_exec , exec_type, file_type, vendor_file_type;
type MtkCodecService ,domain;


# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK16.12
# Operation : Migration
# Purpose : Do APE decode operation and exchange data with mediaserver.
#binder_use(MtkCodecService)
#init_daemon_domain(MtkCodecService)
#binder_call(MtkCodecService,mediaserver)
#allow MtkCodecService mtk_codec_service_service:service_manager add;
#allow MtkCodecService self:capability{setuid sys_nice};
#allow MtkCodecService dumpstate:fd use;
