# ==============================================
# Policy File of /system/bin/muxreport Executable File

# ==============================================
# Type Declaration
# ==============================================
type muxreport_exec , exec_type, file_type, vendor_file_type;
type muxreport ,domain;

# ==============================================
# MTK Policy Rule
# ==============================================
init_daemon_domain(muxreport)

# Capabilities assigned for muxreport
allow muxreport self:capability dac_override;

# Property service
# allow set muxreport control properties
set_prop(muxreport, ril_mux_report_case_prop)

# Allow read/write to devices/files
allow muxreport ccci_device:chr_file { rw_file_perms };
allow muxreport devpts:chr_file { rw_file_perms };
allow muxreport eemcs_device:chr_file { rw_file_perms };
allow muxreport emd_device:chr_file { rw_file_perms };
# Allow read to sys/kernel/ccci/* files
allow muxreport sysfs_ccci:dir search;
allow muxreport sysfs_ccci:file r_file_perms;
set_prop(muxreport, radio_prop)

