# ==============================================
# MTK Policy Rule
# ==============================================


# Date : WK14.34
# Operation : Migration
# Purpose :  For WIFI SANITY test to set FW path(STA/P2P/AP) 
# Owner£º TingTing Lei
allow netd wmtWifi_device:chr_file { write open };

# Date : WK14.34
# Operation : Migration
# Purpose :  NA  
# Owner£º Changqing Sun
allow netd kernel:system module_request;
allow netd self:capability sys_module;
allow netd self:capability fsetid;

# Date : WK14.34
# Operation : Migration
# Purpose :   APP 
allow netd platform_app:fd use;


# Date : WK14.37
# Operation : Migration
# Purpose :  PPPOE Test 
# Owner : lina wang
allow netd ppp:process sigkill;

# Date : WK14.39
# Operation : Migration
# Purpose :  MDLogger USB logging
# Owner : Bo shang 
allow netd mdlogger:fd use;
allow netd mdlogger:tcp_socket { read write };
allow netd mdlogger:tcp_socket { getopt setopt };

# Date : WK14.41
# Operation : Migration
# Purpose :  network logging
# Owner : Bo shang 
allow netd netdiag:fd use;
allow netd netdiag:udp_socket { read write getopt setopt};

# Date : WK14.44
# Operation : Migration
# Purpose : ALPS01789552
#============= netd ==============
allow netd self:capability { setuid setgid };


#============= netd ==============
allow netd untrusted_app:fd use;


# Date : W15.02
# Operation :  SQC
# Purpose :  CTS for wifi
allow netd untrusted_app:unix_stream_socket { read write getopt setopt};
allow netd isolated_app:fd use;


