# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK14.37
# Operation : Migration
# Purpose: for PPPOE Test: Property permission

allow ppp pppoe_ppp0_prop:property_service set;

