# ==============================================
# MTK Policy Rule
# ==============================================

allow pre_meta proc_lk_env:file rw_file_perms;
allow pre_meta para_block_device:blk_file rw_file_perms;set_prop(meta_tst, powerctl_prop);