# ==============================================
# MTK Policy Rule
# ==============================================
type mtk_default_prop, property_type;

# Date: W14.32
# Operation: Migration
# Purpose: don't allow to use default_prop
### TBD
#neverallow { domain -init } default_prop:property_service set;
#neverallow { domain -init -system_server -recovery -system_app} ctl_default_prop:property_service set;

#=============allow ccci_mdinit to start gsm0710muxd==============
type ctl_gsm0710muxd_prop, property_type;
type ctl_gsm0710muxd-s_prop, property_type;
type ctl_gsm0710muxd-d_prop, property_type;
#=============allow ccci_mdinit to ctl. mdlogger==============
type ctl_mdlogger_prop, property_type;
type ctl_emdlogger1_prop, property_type;
type ctl_emdlogger2_prop, property_type;
type ctl_emdlogger3_prop, property_type;
type ctl_dualmdlogger_prop, property_type;

#=============allow viarild to start property==============
type ctl_viarild_prop, property_type;
#=============allow mtkrild to set persist.ril property==============
type persist_ril_prop, property_type, mtk_core_property_type;
#=============allow gsm0710muxd to set mux property==============
type gsm0710muxd_prop, property_type, mtk_core_property_type;

#=============allow netlog running==============
type debug_mtklog_prop, property_type, mtk_core_property_type;
type persist_mtklog_prop, property_type, mtk_core_property_type;
type debug_netlog_prop, property_type, mtk_core_property_type;

#=============allow netd to set mtk_wifi.*=========================
type mtk_wifi_prop, property_type, mtk_core_property_type;

#=============allow mdlogger==============
type debug_mdlogger_prop, property_type, mtk_core_property_type;

#=============allow AEE==============
type persist_mtk_aee_prop, property_type, mtk_core_property_type;
type persist_aee_prop, property_type, mtk_core_property_type;
type debug_mtk_aee_prop, property_type, mtk_core_property_type;

#=============allow aee_dumpstate==============
type debug_bq_dump_prop, property_type, mtk_core_property_type;

#=============allow ccci_mdinit to stop rild==============
type ctl_ril-daemon-mtk_prop, property_type;
type ctl_fusion_ril_mtk_prop, property_type;
type ctl_ril-daemon-s_prop, property_type;
type ctl_ril-daemon-d_prop, property_type;
type ctl_ril-proxy_prop, property_type;

#=============allow ccci_mdinit to start ccci_fsd==============
type ctl_ccci_fsd_prop, property_type;
type ctl_ccci2_fsd_prop, property_type;
type ctl_ccci3_fsd_prop, property_type;

#=============allow ccci_mdinit to set ril_active_md_prop==============
type ril_active_md_prop, property_type, mtk_core_property_type;

#=============allow ccci_mdinit to stop rild==============
type ril_mux_report_case_prop, property_type, mtk_core_property_type;
type ril_cdma_report_prop, property_type, mtk_core_property_type;

#=============allow ccci_mdinit to mtk_md_prop==============
type mtk_md_prop, property_type, mtk_core_property_type;

#=============allow mtkrild to start muxreport==============
type ctl_muxreport-daemon_prop, property_type;

#=============allow ppp to set pppoe.ppp0==============
type pppoe_ppp0_prop, property_type, mtk_core_property_type;

#=============allow bootanim==============
type bootani_prop, property_type, mtk_core_property_type;

#=============allow mnld_prop==============
type mnld_prop, property_type, mtk_core_property_type;

#=============allow audiohal==============
type audiohal_prop, property_type, mtk_core_property_type;

#=============allow wmt==============
type wmt_prop, property_type, mtk_core_property_type;

#=============allow sensor==============
type ctl_emcsmdlogger_prop, property_type;
type ctl_eemcs_fsd_prop, property_type;

#=============allow statusd==============
type net_cdma_mdmstat, property_type, mtk_core_property_type;

#=============allow bt==============
type bt_prop, property_type, mtk_core_property_type;
type persist_bt_prop, property_type, mtk_core_property_type;

#============= allow factory idle current prop ==============
type factory_idle_state_prop, property_type, mtk_core_property_type;

#============= allow ftrace log property ===============
type ftrace_log_prop, property_type, mtk_core_property_type;

#============= allow service.nvram_init property ===============
type service_nvram_init_prop, property_type, mtk_core_property_type;

#============= allow ro.wlan.mtk.wifi.5g property ===============
type wifi_5g_prop, property_type, mtk_core_property_type;

#=============allow em to set client.appmode  ==============
type mtk_em_prop, property_type, mtk_core_property_type;

#=============allow mediatek_prop ==============
type mediatek_prop, property_type, mtk_core_property_type;

#============= allow em set protocol ===============
type mtk_em_pdn_prop, property_type, mtk_core_property_type;

#============= allow em set protocol ===============
type mtk_em_ims_simulate_prop, property_type, mtk_core_property_type;

#============= allow em set property ===============
type mtk_em_auto_answer_prop, property_type, mtk_core_property_type;

#============= allow em set protocol ===============
type mtk_em_bt_sspdebug_prop, property_type, mtk_core_property_type;

#============= allow em set mtk_em_ril_apnchange_prop property ===============
type mtk_em_ril_apnchange_prop, property_type;

#============= allow em set protocol ===============
type mtk_em_net_auto_tethering_prop, property_type, mtk_core_property_type;

#=============allow meta_tst to stop specific service ===============
type ctl_mobile_log_d_prop, property_type;
type ctl_mnld_prop, property_type;
type ctl_mobicore_prop, property_type;

#=============allow system server to set meta_connecttype property  ==============
type meta_connecttype_prop, property_type;

#=============Telephony Sensitive property==============
type mtk_telephony_sensitive_prop, property_type;

#=============allow processes to change thermal config================
type mtk_thermal_config_prop, property_type;

#=============allow composer set property ============================
type graphics_config_prop, property_type;
type graphics_hwc_pid_prop, property_type;

#============= mtkcam property ============================
type mtkcam_prop, property_type;

#============= allow em set xcap property ===============
type mtk_em_ril_xcapset_prop, property_type, mtk_core_property_type;

#============= allow em set UCE property ===============
type persist_uce_prop, property_type;

#============= atm modem mode property ==============
type atm_mdmode_prop, property_type;

#============= atm ip address property ==============
type atm_ipaddr_prop, property_type;
