# ==============================================
# MTK Policy Rule
# ============

# Date : WK16.46
# Purpose : allow shell to switch aee mode
allow shell aee_aed:unix_stream_socket connectto;

# Date : WK17.34
# Purpose : allow shell to get density property
get_prop(shell, graphics_config_prop)

# Date : WK17.35
# Purpose : allow shell to dump the debugging information of camera hal.
allow shell hal_camera_hwservice:hwservice_manager { find };
binder_call(shell, mtk_hal_camera)

# Date : WK17.35
# Purpose : allow shell to set mtkcam property.
set_prop(shell, mtkcam_prop)

# Date : WK17.36
# Purpose : allow shell to dump the debugging information of power hal.
hal_client_domain(shell, hal_power)
