# ==============================================
# Policy File of /system/bin/spm_loader Executable File

# ==============================================
# Type Declaration
# ==============================================
type spm_loader_exec , exec_type, file_type, vendor_file_type;
type spm_loader ,domain;

# ==============================================
# MTK Policy Rule
# ==============================================
# date: 2015/6/18 wk1525
# purpose: load spm firmware
# ==============================================
init_daemon_domain(spm_loader)

# Read to /dev/spm
allow spm_loader self:capability { dac_read_search dac_override };
allow spm_loader spm_device:chr_file r_file_perms;
