# Date : WK17.12
# Purpose: Fix bootup fail
allow ueventd proc_net:file r_file_perms;

# Date: W17.22
# Operation : New Feature
# Purpose : Add for A/B system
allow ueventd device:chr_file { relabelfrom relabelto };
allow ueventd m_acc_misc_device:chr_file { relabelfrom relabelto };
allow ueventd m_mag_misc_device:chr_file { relabelfrom relabelto };