# ==============================================
# MTK Policy Rule
# ==============================================

# Date : 2017/08/10
# Purpose : Allow to access density property
get_prop(untrusted_app_all, graphics_config_prop)
