# ==============================================
# Policy File of /system/bin/wmt_loader Executable File


# ==============================================
# Type Declaration
# ==============================================
type wmt_loader ,domain;
type wmt_loader_exec , exec_type, file_type, vendor_file_type;

# ==============================================
# MTK Policy Rule
# ==============================================
init_daemon_domain(wmt_loader)

allow wmt_loader self:capability { chown dac_override };

# Set the property
set_prop(wmt_loader, wmt_prop)

# add ioctl/open/read/write permission for wmt_loader with /dev/wmtdetect
allow wmt_loader wmtdetect_device:chr_file rw_file_perms;

# add ioctl/open/read/write permission for wmt_loader with /dev/stpwm
allow wmt_loader stpwmt_device:chr_file rw_file_perms;
allow wmt_loader devpts:chr_file rwx_file_perms;

allow wmt_loader proc:file setattr;
