# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK16.33
# Purpose: Allow to access ged for gralloc_extra functions
allow zygote proc_ged:file {open read write ioctl getattr};

# Date : WK17.02
# Purpose: Allow to access gpu for memtrack functions
allow zygote gpu_device:dir search;
allow zygote gpu_device:chr_file { open read write ioctl getattr};

# Date : WK17.32
# Operation : O Migration
# Purpose: Allow to access property
get_prop(zygote, graphics_config_prop)
