service drm /system/bin/drmserver
    class main
    user drm
    # Add drmserver access sdcard and internal storage permission
    group drm system inet drmrpc readproc sdcard_rw media_rw
    writepid /dev/cpuset/foreground/tasks
