config MTK_HDMI_RUNYEE_LT8912B
	bool "MTK_HDMI_RUNYEE_LT8912B"
	default n
	help
	  It support different receiver sensor.
          If this option is set,
	  it will support
          HDMI_RUNYEE_LT8912B sensor.
