# ==============================================
# Policy File of /system/bin/audiocmdservice_atci Executable File

# ==============================================
# Type Declaration
# ==============================================

type audiocmdservice_atci ,domain;
