# ==============================================
# Policy File of /system/bin/em_svr Executable File


# ==============================================
# Type Declaration
# ==============================================
type em_svr ,domain;



