# ==============================================
# Policy File of /system/bin/kisd Executable File


# ==============================================
# Type Declaration
# ==============================================

type kisd ,domain;
