# ==============================================
# Policy File of /system/bin/mdlogger Executable File

# ==============================================
# Type Declaration
# ==============================================
type mdlogger ,domain;
