# ==============================================
# Policy File of /system/bin/netdiag Executable File

# ==============================================
# Type Declaration
# ==============================================
type netdiag ,domain;
