# ==============================================
# MTK Policy Rule
# ==============================================

# System Server Services

# Other Services
type nvram_agent_service, service_manager_type;