type hal_dumpstate_impl, domain;
hal_server_domain(hal_dumpstate_impl, hal_dumpstate)

type hal_dumpstate_impl_exec, exec_type, file_type;
init_daemon_domain(hal_dumpstate_impl)

userdebug_or_eng(`
        allow hal_dumpstate_impl atvr_device:chr_file r_file_perms;
')