dontaudit mediacodec graphics_device:dir search;
allow mediacodec surfaceflinger:fifo_file { read write };

# b/33344694
allow mediacodec tee_device:chr_file r_file_perms;
