# Minijail Seccomp Policy for isolated_app processes on AARCH64.

getdents64: 1
getrlimit: 1

# mmap: flags in {MAP_SHARED|MAP_PRIVATE|MAP_ANONYMOUS|MAP_STACK|MAP_NORESERVE|MAP_FIXED|MAP_DENYWRITE}
mmap: arg3 in 0x24833

newfstatat: 1
