# For writing to /proc/<tid>/timerslack_ns (XXX - this is probably wrong)
allow system_server priv_app:file write;
allow system_server untrusted_app:file write;
allow system_server platform_app:file write;
allow system_server system_app:file write;
allow system_server isolated_app:file write;
allow system_server bluetooth:file write;
