# allow adb to access /sys/devices/virtual/input/ftm4_touch/autotune
allow shell sysfs_touch:dir search;
allow shell sysfs_touch_shell:file rw_file_perms;
