# ==============================================
# MTK Policy Rule
# ==============================================

# System Server Services

# Other Services
type program_binary_service, service_manager_type;
type vie_command_service, service_manager_type;
