# ==============================================
# Policy File of /system/binboot_logo_updater Executable File

# ==============================================
# Type Declaration
# ==============================================

# New added for move to /system
type boot_logo_updater ,domain;
