# ==============================================
# Policy File of /system/bin/fuelgauged_static Executable File

# ==============================================
# Type Declaration
# ==============================================
type fuelgauged_static ,domain;
