# ==============================================
# Policy File of /system/bin/meta_tst Executable File


# ==============================================
# Type Declaration
# ==============================================

type meta_tst ,domain;


