# ==============================================
# Policy File of /system/bin/mobile_log_d Executable File

# ==============================================
# Type Declaration
# ==============================================
type mobile_log_d ,domain;
