# =============================================================================
# Policy File of /system/bin/thermalindicator Executable File

# =============================================================================
# Type Declaration
# =============================================================================
type thermalindicator, domain;