import /vendor/etc/init/hw/init.wahoo.usb.rc

on boot && property:ro.bootmode=usbradio && property:persist.sys.usb.usbradio.config=*
    setprop sys.usb.config "none"
    setprop sys.usb.config ${persist.sys.usb.usbradio.config}

# battery driver settings for the retail demo environment where
# the device will be perpertually plugged in to a power source
on property:sys.retaildemo.enabled=1
    write /sys/module/htc_battery/parameters/full_level_dis_chg 35

on property:sys.retaildemo.enabled=0
    write /sys/module/htc_battery/parameters/full_level_dis_chg 100
